@font-face {
  font-family: yekan;
  src: url("../fonts/IRANYekanRegularFaNum.ttf");
  font-weight: 400;
}

@font-face {
  font-family: yekan;
  src: url("../fonts/IRANYekanMediumFaNum.ttf");
  font-weight: 300;
}

@font-face {
  font-family: yekan;
  src: url("../fonts/IRANYekanBoldFaNum.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "niafam";
  src: url("../fonts/niafam.eot?ahg0bg");
  src: url("../fonts/niafam.eot?ahg0bg#iefidx")
      format("embedded-opentype"),
    url("../fonts/niafam.ttf?ahgd0bg") format("truetype"),
    url("../fonts/niafam.woff?ahg0bdg") format("woff"),
    url("../fonts/niafam.svg?ahg0bdg#niafam") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
