i.niafam, span.niafam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-keyboard_arrow_left:before {
  content: "\e900";
}
.niafam-keyboard_arrow_down:before {
  content: "\e901";
}
.niafam-user1:before {
  content: "\e902";
}
.niafam-search:before {
  content: "\e903";
}
.niafam-arrow-left:before {
  content: "\e904";
}
.niafam-linkedin:before {
  content: "\e905";
}
.niafam-pinterest:before {
  content: "\e906";
}
.niafam-twitter:before {
  content: "\e907";
}
.niafam-youtube:before {
  content: "\e908";
}
.niafam-facebook:before {
  content: "\e909";
}
.niafam-visibility:before {
  content: "\e90a";
}
.niafam-instagram1:before {
  content: "\e90b";
}
.niafam-play:before {
  content: "\e90c";
}
.niafam-image-gallery:before {
  content: "\e90f";
}
.niafam-globe:before {
  content: "\e912";
}
.niafam-arrow-right:before {
  content: "\e913";
}
.niafam-call:before {
  content: "\e914";
}
.niafam-email1:before {
  content: "\e915";
}
.niafam-email:before {
  content: "\e916";
}
.niafam-fax:before {
  content: "\e917";
}
.niafam-Icon-ionic-ios-arrow-back:before {
  content: "\e918";
}
.niafam-location:before {
  content: "\e919";
}
.niafam-multimedia:before {
  content: "\e91a";
}
.niafam-phone-call:before {
  content: "\e91b";
}
.niafam-user:before {
  content: "\e91c";
}
.niafam-Schedue:before {
  content: "\e91d";
}
.niafam-linkedin1:before {
  content: "\e91e";
}
.niafam-pinterest1:before {
  content: "\e91f";
}
.niafam-twitter1:before {
  content: "\e920";
}
.niafam-youtube1:before {
  content: "\e921";
}
.niafam-facebook1:before {
  content: "\e922";
}
.niafam-help-circle:before {
  content: "\e924";
}
.niafam-search1:before {
  content: "\e925";
}
.niafam-arrow-left1:before {
  content: "\e926";
}
.niafam-rainy:before {
  content: "\e927";
}
.niafam-weather-sunny:before {
  content: "\e92f";
}
.niafam-mic:before {
  content: "\e90e";
}
.niafam-image:before {
  content: "\e90d";
}
