i.niafam,
span.niafam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-responsiblity:before {
  content: "\e970";
  color: #525252;
}
.niafam-books:before {
  content: "\e973";
  color: #525252;
}
.niafam-monqese:before {
  content: "\e974";
  color: #525252;
}
.niafam-boshour:before {
  content: "\e975";
  color: #fff;
}
.niafam-dot-person:before {
  content: "\e97a";
}
.niafam-bills:before {
  content: "\e97b";
  color: #fff;
}
.niafam-complaint:before {
  content: "\e97c";
  color: #fff;
}
.niafam-hospital:before {
  content: "\e97d";
}
.niafam-news-paper:before {
  content: "\e97e";
  color: #fff;
}
.niafam-igap:before {
  content: "\e97f";
}
.niafam-instagram-fill:before {
  content: "\e980";
  color: #fff;
}
.niafam-Vector:before {
  content: "\e981";
  color: #eb1c2f;
}
.niafam-rss11:before {
  content: "\e982";
  color: #fff;
}
.niafam-self-service-_1_-1:before {
  content: "\e983";
  color: #fff;
}
.niafam-target:before {
  content: "\e984";
  color: #525252;
}
.niafam-visual-doc:before {
  content: "\e985";
  color: #525252;
}
.niafam-computer:before {
  content: "\e987";
  color: #525252;
}
.niafam-heartbeat:before {
  content: "\e96b";
  color: #00509d;
}
.niafam-flask:before {
  content: "\e96c";
  color: #00509d;
}
.niafam-workers:before {
  content: "\e96d";
  color: #00509d;
}
.niafam-business-trip:before {
  content: "\e96e";
  color: #00509d;
}
.niafam-syringe:before {
  content: "\e96f";
  color: #00509d;
}
.niafam-accessibility:before {
  content: "\e900";
}
.niafam-add:before {
  content: "\e901";
}
.niafam-aparat:before {
  content: "\e902";
}
.niafam-bale:before {
  content: "\e903";
}
.niafam-bisphon:before {
  content: "\e904";
}
.niafam-brain1:before {
  content: "\e905";
}
.niafam-calendar:before {
  content: "\e906";
}
.niafam-camera-021:before {
  content: "\e907";
}
.niafam-close1:before {
  content: "\e908";
}
.niafam-dna1:before {
  content: "\e909";
}
.niafam-down-arrow1:before {
  content: "\e90b";
}
.niafam-eita:before {
  content: "\e90c";
}
.niafam-envelope:before {
  content: "\e90d";
}
.niafam-envelope-21:before {
  content: "\e90e";
}
.niafam-facebook1:before {
  content: "\e90f";
}
.niafam-fax2:before {
  content: "\e910";
}
.niafam-fluctuation1:before {
  content: "\e911";
}
.niafam-gap:before {
  content: "\e912";
}
.niafam-graduated-11:before {
  content: "\e913";
}
.niafam-graduation-hat1:before {
  content: "\e914";
}
.niafam-instagram1:before {
  content: "\e915";
}
.niafam-instagram-2:before {
  content: "\e916";
}
.niafam-left-arrow:before {
  content: "\e917";
}
.niafam-left-arrow-2:before {
  content: "\e918";
}
.niafam-library1:before {
  content: "\e919";
}
.niafam-linkedin1:before {
  content: "\e91a";
}
.niafam-medal1:before {
  content: "\e91b";
}
.niafam-medical-team1:before {
  content: "\e91c";
}
.niafam-medical-team-21:before {
  content: "\e91d";
}
.niafam-minus:before {
  content: "\e91e";
}
.niafam-newspaper1:before {
  content: "\e91f";
}
.niafam-nurse1:before {
  content: "\e920";
}
.niafam-phone-call:before {
  content: "\e921";
}
.niafam-photo-camera:before {
  content: "\e922";
}
.niafam-pin:before {
  content: "\e923";
}
.niafam-play:before {
  content: "\e924";
}
.niafam-play-button1:before {
  content: "\e925";
}
.niafam-reading1:before {
  content: "\e926";
}
.niafam-right-arrow:before {
  content: "\e927";
}
.niafam-right-arrow-2:before {
  content: "\e928";
}
.niafam-rubika1:before {
  content: "\e929";
}
.niafam-search:before {
  content: "\e92a";
}
.niafam-sitemap1:before {
  content: "\e92b";
}
.niafam-sitemap-22:before {
  content: "\e92c";
}
.niafam-soroush:before {
  content: "\e92d";
}
.niafam-stethoscope1:before {
  content: "\e92e";
}
.niafam-teacher1:before {
  content: "\e92f";
}
.niafam-teacher-31:before {
  content: "\e930";
}
.niafam-teamwork1:before {
  content: "\e931";
}
.niafam-telegram:before {
  content: "\e932";
}
.niafam-twitter:before {
  content: "\e933";
}
.niafam-universitatscampus1:before {
  content: "\e934";
}
.niafam-up-arrow-2:before {
  content: "\e935";
}
.niafam-vaccine1:before {
  content: "\e936";
}
.niafam-video:before {
  content: "\e937";
}
.niafam-video-camera:before {
  content: "\e938";
}
.niafam-vitamins1:before {
  content: "\e939";
}
.niafam-whatsapp1:before {
  content: "\e93a";
}
.niafam-work1:before {
  content: "\e93b";
}
.niafam-work-31:before {
  content: "\e93c";
}
.niafam-world1:before {
  content: "\e93d";
}
.niafam-world-pride-day:before {
  content: "\e93e";
}
.niafam-brain:before {
  content: "\e93f";
}
.niafam-camera-02:before {
  content: "\e940";
}
.niafam-close:before {
  content: "\e941";
}
.niafam-dna:before {
  content: "\e942";
}
.niafam-down-arrow .path1:before {
  content: "\e943";
  color: rgb(255, 193, 7);
}
.niafam-down-arrow .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.niafam-fax:before {
  content: "\e945";
}
.niafam-fluctuation:before {
  content: "\e946";
}
.niafam-graduated-1:before {
  content: "\e947";
}
.niafam-graduation-hat:before {
  content: "\e948";
}
.niafam-library:before {
  content: "\e949";
}
.niafam-medal:before {
  content: "\e94a";
}
.niafam-medical-team:before {
  content: "\e94b";
}
.niafam-medical-team-2:before {
  content: "\e94c";
}
.niafam-newspaper:before {
  content: "\e94d";
}
.niafam-nurse:before {
  content: "\e94e";
}
.niafam-reading:before {
  content: "\e94f";
}
.niafam-sitemap:before {
  content: "\e950";
}
.niafam-sitemap-2:before {
  content: "\e951";
}
.niafam-stethoscope:before {
  content: "\e952";
}
.niafam-teacher:before {
  content: "\e953";
}
.niafam-teacher-3:before {
  content: "\e954";
}
.niafam-teamwork:before {
  content: "\e955";
}
.niafam-universitatscampus:before {
  content: "\e956";
}
.niafam-vaccine:before {
  content: "\e957";
}
.niafam-vitamins:before {
  content: "\e958";
}
.niafam-work:before {
  content: "\e959";
}
.niafam-work-3:before {
  content: "\e95c";
}
.niafam-world:before {
  content: "\e95f";
}
.niafam-world-pride-day1:before {
  content: "\e969";
}
.niafam-Group-72:before {
  content: "\e96a";
  color: #5b5b5b;
}
.niafam-calendar-2:before {
  content: "\e95a";
}
.niafam-mail:before {
  content: "\e95b";
}
.niafam-phone-call1:before {
  content: "\e95d";
}
.niafam-envelope-2:before {
  content: "\e95e";
}
.niafam-fax1:before {
  content: "\e960";
}
.niafam-pinterest:before {
  content: "\e961";
}
.niafam-instagram:before {
  content: "\e962";
}
.niafam-youtube:before {
  content: "\e963";
}
.niafam-pin1:before {
  content: "\e964";
}
.niafam-facebook:before {
  content: "\e965";
}
.niafam-like:before {
  content: "\e966";
}
.niafam-login:before {
  content: "\e967";
}
.niafam-mic:before {
  content: "\e968";
}
.niafam-user1:before {
  content: "\e971";
}
.niafam-play-button:before {
  content: "\e972";
}
.niafam-Schedue:before {
  content: "\e976";
}
.niafam-share:before {
  content: "\e977";
}
.niafam-twitter1:before {
  content: "\e978";
}
.niafam-speech-bubble:before {
  content: "\e979";
}
.niafam-clock:before {
  content: "\e986";
}
.niafam-view:before {
  content: "\e988";
}
.niafam-linkedin:before {
  content: "\e98b";
}
.niafam-image-gallery:before {
  content: "\e9b3";
}
.niafam-minus2:before {
  content: "\e9b5";
}
.niafam-plus:before {
  content: "\e9b6";
}
.niafam-Icon-awesome-sitemap:before {
  content: "\e9c6";
}
.niafam-gears:before {
  content: "\e9d8";
}
.niafam-accessibility2:before {
  content: "\e9ea";
}
.niafam-Soroush-Logo-LimooGraphic:before {
  content: "\e9ec";
}
.niafam-play-button2:before {
  content: "\ea0b";
}
.niafam-rubika:before {
  content: "\ea0e";
}
.niafam-search2:before {
  content: "\ea10";
}
.niafam-sitemap-21:before {
  content: "\ea12";
}
.niafam-video-camera2:before {
  content: "\ea19";
}
.niafam-whatsapp:before {
  content: "\ea1a";
}
.niafam-youtube2:before {
  content: "\ea1b";
}
.niafam-home-1:before {
  content: "\ea26";
}
.niafam-login1:before {
  content: "\ea29";
}
.niafam-plus1:before {
  content: "\ea2c";
}
.niafam-rss1:before {
  content: "\ea2e";
}
.niafam-video-camera3:before {
  content: "\ea31";
}
