$color-1: #2ccdea;
$color-2: #000;
$color-3: #fff3ed;
$color-4: #feaf89;
/* Layout */
nav.mega-menu {
  height: 100%;
}
nav.mega-menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  display: flex;
}
nav.mega-menu a {
  text-decoration: none;
}
/* Basic Style */
nav.mega-menu > ul > li {
  height: 100%;
  position: relative;
}
nav.mega-menu > ul > li > a {
  color: $color-2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-size: 1em;
  font-weight: 500;
  height: 35px;
}
nav.mega-menu > ul > li {
  &:not(:last-child) {
    margin-inline-end: 10px;
  }
}
nav.mega-menu > ul > li.contact-drop > a:after,
nav.mega-menu > ul > li.mega-drop > a:after,
nav.mega-menu > ul > li.blog-post > a:after,
nav.mega-menu > ul > li.drop-down > a:after {
  position: absolute;
  top: 0;
  right: 5px;
}
/* Mega Drop Menu */
nav.mega-menu > ul > li.mega-drop {
  position: static;
}
nav.mega-menu > ul > li.mega-drop .mega-drop-inner {
  border-radius: 30px;
  position: absolute;
  opacity: 0;
  width: 100%;
  overflow: auto;
  top: 100px;
  left: 0px;
  background: #ffffff;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  padding: 35px;
  z-index: 15;
  display: flex;
  border: none;
  gap: 20px;
}
nav.mega-menu > ul > li.mega-drop .mega-drop-inner > ul {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  margin-inline-end: 30px;
  height: auto;
  &:last-child {
    margin-inline-end: 0;
  }
}

nav.mega-menu > ul > li.mega-drop .mega-drop-inner ul h3 {
  color: $color-2;
  font-size: 18px;
  font-weight: 450;
  padding: 0;
  margin-bottom: 8px;
}

nav.mega-menu > ul > li.mega-drop:hover .mega-drop-inner {
  opacity: 1;
  left: 0;
  visibility: visible;
}
/* Blog Post */
nav.mega-menu > ul > li.blog-post {
  position: static;
}
nav.mega-menu > ul > li.blog-post:hover .nav.mega-menu-item {
  opacity: 1;
  top: 100%;
  left: 0;
  visibility: visible;
}
nav.mega-menu > ul > li.blog-post .nav.mega-menu-item {
  position: absolute;
  width: 100%;
  overflow: auto;
  padding: 40px 0;
  top: -9999px;
  opacity: 0;
  left: -9999px;
  background: #daeaef;
  visibility: hidden;
  border-top: 3px solid #ff3d2e;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
nav.mega-menu > ul > li.blog-post .nav.mega-menu-item .item {
  float: left;
  width: -webkit-calc(25% - 40px);
  width: calc(25% - 40px);
  background: #272f32;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
nav.mega-menu > ul > li.blog-post .nav.mega-menu-item .item img {
  width: 100%;
  height: 150px;
}
nav.mega-menu > ul > li.blog-post .nav.mega-menu-item .item h3 {
  font-size: 15px;
}
nav.mega-menu > ul > li.blog-post .nav.mega-menu-item .item a {
  color: #ff3d2e;
}
/* Simple and multi level dropdown */
nav.mega-menu > ul > li.drop-down > ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 250px;
  background: #fff !important;
  transition: all 300ms ease-in-out !important;
  border-radius: 15px;
  right: -20px;
  top: calc(100% + 10px);
  list-style: none !important;
  padding: 15px;
  ul {
    list-style: none;
  }
}
nav.mega-menu > ul > li.drop-down > a{
  color: #fff !important;
}
nav.mega-menu > ul > li.drop-down > a:hover{
  color: #fff !important;
}
nav.mega-menu > ul > li.drop-down > ul:after {
  border-color: rgba(236, 240, 241, 0);
  border-bottom-color: #ecf0f1;
  border-width: 5px;
  margin-inline-end: -5px;
}
nav.mega-menu > ul > li.drop-down > ul:before {
  border-color: rgba(231, 76, 60, 0);
  border-width: 9px;
  margin-inline-end: -9px;
}
nav.mega-menu > ul > li.drop-down{
  ul {
    list-style: none !important;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    a {
      color: #525252;
    position: relative;
    padding-inline-start: 12px !important;
    &:hover {
      color: #eb1c2f;
      &::before {
        background-color: #eb1c2f;
      }
    }
      &::before {
        content: "";
        position: absolute;
        right: 5px;
        width: 5px;
        height: 5px;
        top: 10px;
        display: flex;
        border-radius: 50%;
        background-color: #c0c0c0;
        transition: all 0.2s linear;
      }
    }
  }
  a {
    
  }
}
nav.mega-menu > ul > li.drop-down:hover > ul {
  opacity: 1;
  visibility: visible;
}

/* Contact container */
nav.mega-menu > ul > li.contact-drop {
  position: static;
}
nav.mega-menu > ul > li.contact-drop .contact-drop-inner {
  position: Absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-top: 3px solid #ff3d2e;
  overflow: auto;
  background: #ecf0f1;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
nav.mega-menu > ul > li.contact-drop:hover .contact-drop-inner {
  opacity: 1;
  left: 0;
  top: 100%;
  visibility: visible;
}
nav.mega-menu > ul > li.contact-drop .contact-drop-inner form {
  float: left;
  width: 46%;
  padding: 20px 0;
  margin: 0 2%;
}
nav.mega-menu > ul > li.contact-drop .contact-drop-inner form span {
  display: block;
  font: 400 14px "oswald", "fontawesome", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav.mega-menu > ul > li.contact-drop .contact-drop-inner form input,
nav.mega-menu > ul > li.contact-drop .contact-drop-inner form textarea {
  display: block;
  width: 50%;
  padding: 10px;
  background: #2c3e50;
  border: none;
  outline: none;
  color: #e74c3c;
  font-family: "oswald", sans-serif;
  margin-bottom: 10px;
}
nav.mega-menu > ul > li.contact-drop .contact-drop-inner .misc-contact {
  float: right;
  width: 50%;
  padding: 20px 0;
}
nav.mega-menu > ul > li.contact-drop .contact-drop-inner .misc-contact span,
nav.mega-menu > ul > li.contact-drop .contact-drop-inner .misc-contact a {
  color: #e74c3c;
}
nav.mega-menu > ul > li.mega-drop .mega-drop-inner {
  top: calc(10px + 100%) !important;
  box-shadow: 0 6px 8px rgba($color: #000000, $alpha: 0.15);
}
nav.mega-menu > ul > li {
  transition: all 0.4s ease-in-out;
  &:not(:last-child) {
    margin-inline-end: 30px;
  }
}
nav.mega-menu > ul > li:hover {
  > a > i {
    color: #000;
    &::before {
      color: #000;
    }
  }
}
nav.mega-menu > ul > li > a {
  display: flex;
  color: white;
  align-items: center;
  font-size: 14px;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    font-size: 0.65em;
    padding-bottom: 3px;
    font-weight: lighter;
    padding-inline-start: 6px;
    transition: all 0.6s ease-in-out;
    color: #fff !important;
    &::before {
      color: #fff !important;
    }
  }
  &:hover {
    color: #fff;
    i {
      color: #fff !important;
      &::before {
        color: #fff !important;
      }
    }
  }
}
.header {
  position: relative;
  z-index: 100;
}

.mega-menu {
  .niafam-down-arrow1 {
    color: #fff;
    padding-top: 2px;
  }
  &__main-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-inline-start: 0 !important;
    &:hover {
      .mega-menu {
        &__icon {
          background-color: #eb1c2f;
          i {
            color: white;
            &::before {
              color: white;
            }
          }
        }
        &__title {
          color: #eb1c2f;
        }
      }
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 10px;
    width: 40px;
    height: 40px;
    background: #ebebeb;
    border-radius: 10px;
    font-size: 1.4em;
    transition: all 0.2s linear;
    i {
      transition: all 0.2s linear;
      &::before {
        transition: all 0.2s linear;
      }
    }
  }
  &__title {
    color: #525252;
  }
}
.mega-drop {
  &__col {
    width: calc(25%);
    ul {
      list-style: none !important;
    }
    li {
      &:not(:last-child) {
        margin-bottom: 2px;
      }
      a {
        &::before {
          content: "";
          position: absolute;
          right: 5px;
          width: 5px;
          height: 5px;
          top: 10px;
          display: flex;
          border-radius: 50%;
          background-color: #c0c0c0;
          transition: all 0.2s linear;
        }
      }
    }
    a {
      color: #525252;
      position: relative;
      padding-inline-start: 12px;
      &:hover {
        color: #eb1c2f;
        &::before {
          background-color: #eb1c2f;
        }
      }
    }
    ul {
      ul {
        margin-inline-start: 10px;
        a {
          padding-inline-start: 30px;
          &::before {
            height: 1px;
            width: 20px;
            top: 12px;
            right: 0;
          }
        }
        ul {
          margin-inline-start: 10px;
        }
      }
    }
  }
}
