.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 64px);
  z-index: 12;
  background-color: #fff;
  width: 959.5px;
  border-radius: 16px;
  background: #f6f6f6;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
  &__back {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.2s ease-in;
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__close {
    position: absolute;
    left: 16px;
    top: 16px;
    background: none;
    border: none;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
  }
  &__content {
    padding-bottom: 130px;
    max-height: 85vh;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 60px;
    button {
      background: none;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &.deactive {
        color: #30373d;
        &:hover {
          color: var(--green);
        }
      }
      &.active {
        cursor: pointer;
        border: none;
        position: relative;
        width: 182px;
        min-width: max-content;
        height: 48px;
        border-radius: 28px;
        background: linear-gradient(90deg, #ffac58 0%, #ff8100 100%);
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        i {
          font-size: 1.5em;
          margin-left: 10px;
        }
        &:hover {
          color: white;
          &::before {
            opacity: 1;
          }
        }
        * {
          position: relative;
          z-index: 2;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          border-radius: 28px;
          width: 182px;
          background: linear-gradient(90deg, #ffa123 0%, #e06100 100%);
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  &__footer {
    height: 120px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f6f6f6;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 48px;
    border-top: 1px solid #dbe8f2;
  }
  transition: all 0.2s ease-in;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1359.98px) {
  .modal {
    &--full {
      border-radius: 0;
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      z-index: 999;
      .modal {
        &__footer {
          background-color: #fff;
          height: 104px;
        }
        &__buttons {
          margin-right: 0;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1359.98px) and (min-width: 576px) {
  .modal {
    &--full {
      .modal {
        &__footer {
          padding-right: 32px;
          padding-left: 32px;
        }
        &__buttons {
        }
      }
    }
    &__buttons {
      button {
        &.active {
          height: 56px;
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
  .modal {
    &__footer {
      height: 80px;
    }
    &--full {
      .modal {
        &__footer {
          padding-right: 16px;
          padding-left: 16px;
          height: 80px;
        }
        &__buttons {
        }
      }
    }
    &__buttons {
      button.active {
        width: 88px;
      }
      button.deactive {
        font-size: 14px;
      }
    }
  }
}

.new-ticket {
  padding: 32px 48px;
  &__breaker {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 1px;
    width: 100%;
    background-color: #dbe8f2;
  }
  &__form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      height: 56px;
    }
    input,
    textarea,
    select {
      width: 100%;
      border-radius: 28px;
      background: #fff;
      border: 1px solid #dbe8f2;
      padding: 15px 30px;
      display: flex;
      outline: unset !important;
      font-size: 16px;
      font-family: Yekan Bakh FaNum;
      resize: none;
      &::placeholder {
        color: rgba($color: #30373d, $alpha: 0.5);
      }
    }
  }
  &__half {
    flex-basis: calc(50% - 16px);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__full {
    flex-basis: 100%;
  }
  &__header {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  &__row {
  }
  &__text {
  }
  &__upload {
    width: 100%;
  }
}
@media (max-width: 1359.98px) {
  .new-ticket {
    &__half {
      flex-basis: 100%;
      margin-right: 0 !important;
      margin-left: 0 !important;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
@media (max-width: 1359.98px) and (min-width: 576px) {
  .new-ticket {
    padding: 32px;
  }
}
@media (max-width: 575.98px) {
  .new-ticket {
    padding: 24px 16px;
    &__form {
      textarea {
        padding: 15px 20px;
      }
    }
  }
}
//file-upload
.file {
  display: flex;
  gap: 30px;
  padding: 16px 0;
  padding-left: 8px;
  &:not(:last-child) {
    border-bottom: 1px solid #dbe8f2;
  }
  &__button {
    margin-right: auto;
    min-width: 40px;
    text-align: center;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  &__content {
  }
  &__name {
  }
  &__pic {
    position: relative;
    aspect-ratio: 1/1;
    width: 48px;
    flex-shrink: 0;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    color: #6b7885;
  }
  &__size {
    color: #6b7885;
  }

  &--text {
    .file {
      &__pic {
        border: 2px solid #dbe8f2;
      }
    }
  }
}
.file-upload {
  &__button {
    position: relative;
    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      height: 100%;
      padding: 0;
    }
    button {
      width: 152px;
      height: 48px;
      border-radius: 24px;
      background: #fff;
      border: 1px solid #dbe8f2;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover {
        border-color: var(--green);
        color: var(--green);
      }
    }
  }
  &__file {
  }
  &__files {
    margin-top: 24px;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    margin-left: 30px;
  }
}
@media (max-width: 575.98px) {
  .file-upload {
    &__button {
      button {
        width: 78px;
        span {
          display: none;
        }
      }
    }
  }
  .file {
    gap: 16px;
  }
}
