i.niafam, span.niafam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-video:before {
  content: "\e948";
}
.niafam-mic:before {
  content: "\e92e";
}
.niafam-microphone:before {
  content: "\e92e";
}
.niafam-record:before {
  content: "\e92e";
}
.niafam-voice:before {
  content: "\e92e";
}
.niafam-audio:before {
  content: "\e92e";
}
.niafam-pin:before {
  content: "\e946";
  color: #fff;
}
.niafam-telephone:before {
  content: "\e947";
  color: #fff;
}
.niafam-camera:before {
  content: "\e92c";
}
.niafam-down-arrow:before {
  content: "\e92d";
}
.niafam-envelope:before {
  content: "\e930";
}
.niafam-graduated:before {
  content: "\e931";
}
.niafam-instagram:before {
  content: "\e93b";
}
.niafam-left-arrow:before {
  content: "\e93c";
}
.niafam-left-arrow-2:before {
  content: "\e93d";
}
.niafam-male-student:before {
  content: "\e93e";
}
.niafam-minus:before {
  content: "\e93f";
}
.niafam-right-arrow:before {
  content: "\e940";
}
.niafam-right-arrow-2:before {
  content: "\e941";
}
.niafam-sitemap:before {
  content: "\e942";
}
.niafam-teacher:before {
  content: "\e943";
}
.niafam-up-arrow-2:before {
  content: "\e944";
}
.niafam-add:before {
  content: "\e945";
}
.niafam-Asset-1:before {
  content: "\e92b";
}
.niafam-newspaper:before {
  content: "\e932";
}
.niafam-map:before {
  content: "\e933";
}
.niafam-buildings:before {
  content: "\e934";
}
.niafam-graveyard:before {
  content: "\e935";
}
.niafam-autonomous-car:before {
  content: "\e936";
}
.niafam-profits:before {
  content: "\e937";
}
.niafam-teamwork:before {
  content: "\e938";
}
.niafam-puzzle:before {
  content: "\e939";
}
.niafam-Vector-Smart-Object:before {
  content: "\e93a";
}
.niafam-open-book:before {
  content: "\e929";
}
.niafam-glasses:before {
  content: "\e92a";
}
.niafam-calendar:before {
  content: "\e928";
}
.niafam-phone-call1:before {
  content: "\e900";
}
.niafam-maps-and-flags:before {
  content: "\e901";
}
.niafam-mail:before {
  content: "\e902";
}
.niafam-keyboard_arrow_left:before {
  content: "\e903";
}
.niafam-keyboard_arrow_down:before {
  content: "\e904";
}
.niafam-user1:before {
  content: "\e905";
}
.niafam-search:before {
  content: "\e906";
}
.niafam-arrow-left:before {
  content: "\e907";
}
.niafam-linkedin:before {
  content: "\e908";
}
.niafam-pinterest:before {
  content: "\e909";
}
.niafam-twitter:before {
  content: "\e90a";
}
.niafam-youtube:before {
  content: "\e90b";
}
.niafam-facebook:before {
  content: "\e90c";
}
.niafam-visibility:before {
  content: "\e90d";
}
.niafam-instagram1:before {
  content: "\e90e";
}
.niafam-play:before {
  content: "\e90f";
}
.niafam-image:before {
  content: "\e910";
}
.niafam-mic1:before {
  content: "\e911";
}
.niafam-image-gallery:before {
  content: "\e912";
}
.niafam-globe:before {
  content: "\e913";
}
.niafam-arrow-right:before {
  content: "\e914";
}
.niafam-call:before {
  content: "\e915";
}
.niafam-email1:before {
  content: "\e916";
}
.niafam-email:before {
  content: "\e917";
}
.niafam-fax:before {
  content: "\e918";
}
.niafam-Icon-ionic-ios-arrow-back:before {
  content: "\e919";
}
.niafam-location:before {
  content: "\e91a";
}
.niafam-multimedia:before {
  content: "\e91b";
}
.niafam-phone-call:before {
  content: "\e91c";
}
.niafam-user:before {
  content: "\e91d";
}
.niafam-Schedue:before {
  content: "\e91e";
}
.niafam-linkedin1:before {
  content: "\e91f";
}
.niafam-pinterest1:before {
  content: "\e920";
}
.niafam-twitter1:before {
  content: "\e921";
}
.niafam-youtube1:before {
  content: "\e922";
}
.niafam-facebook1:before {
  content: "\e923";
}
.niafam-help-circle:before {
  content: "\e924";
}
.niafam-search1:before {
  content: "\e925";
}
.niafam-arrow-left1:before {
  content: "\e926";
}
.niafam-rainy:before {
  content: "\e927";
}
.niafam-weather-sunny:before {
  content: "\e92f";
}
