.tootack-Instagram:before {
    content: "\e900";
    color: #7a8b9b;
  }
  .tootack-telegram-logo:before {
    content: "\e901";
    color: #7a8b9b;
  }
  .tootack-Twitter:before {
    content: "\e902";
    color: #7a8b9b;
  }
  