.breadcrumb {
  padding: 0 30px;
  background-color: #f7f7f7;
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: none;
  border-radius: 15px;
}

.es-posts .es-post-item:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
.es-posts .es-post-item:not(:first-child) {
  padding-top: 15px;
}
.es-posts .es-post-thumb {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.es-posts .es-post-header {
  display: flex;
  flex-direction: column;
}
.es-posts .es-post-kicker {
  font-size: 13px;
  order: 1;
  color: #202020;
}
.es-posts .es-post-title {
  font-size: 15px;
  color: #3351a6;
  font-weight: bold;
  order: 2;
}
.es-posts .es-post-meta {
  display: block;
  margin-top: 5px;
  order: 3;
}
.es-posts .es-post-meta li {
  font-size: 13px;
  color: #464646;
}
.es-posts .es-post-summary {
  margin-top: 6px;
  order: 2;
  font-size: 14px;
  color: #202020;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-info-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.news-tools {
  margin-right: auto;
}
.news-tools ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.news-tools li {
  margin-left: 0;
}
.news-tools li:not(:first-child) {
  margin-right: 5px;
}
.news-tools a {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: all 0.2s linear;
}
.news-tools a:hover {
  background-color: #3351a6;
}

.news-info {
  padding-top: 8px;
  margin-left: 15px;
}
.news-info ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.news-info li {
  font-size: 14px;
  color: rgb(47, 47, 47);
  display: flex;
  align-items: center;
}
.news-info li:not(:last-child) {
  margin-left: 8px;
}
.news-info i {
  display: flex;
  font-size: 14px;
  margin-left: 4px;
}

.news-head {
  margin-bottom: 20px;
}
.news-head h6 {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #1e1e1e;
}
.news-head h2 {
  font-size: 17px;
  font-weight: bold;
  color: #3351a6;
}

.news-lead {
  background: #e9e9fd;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 28px;
}

.news-content {
  text-align: justify;
  font-size: 15px;
  color: #404040;
  line-height: 28px;
}
.news-content #photo-face-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-content img {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
  max-height: 280px;
  margin-right: auto;
  margin-left: auto;
}

.extra-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #404040;
}
.extra-meta i {
  display: block;
  margin-left: 4px;
}
.extra-meta span {
  font-weight: bold;
  color: #1e1e1e;
}
.extra-meta ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.extra-meta li:not(:last-child) {
  margin-left: 10px;
}

.meta-list {
  border-color: #d9d9d9;
}

.administrator-info {
  border-color: #d9d9d9;
}

.administrator-description h5 {
  font-size: 15px;
  font-weight: bold;
  color: #1e1e1e;
  display: flex;
  margin-bottom: 5px;
}
.administrator-description h4 {
  font-size: 14px;
  color: #404040;
}

.single-post-wrap > div:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.es-post-thumb .es {
  border-bottom-left-radius: 10px;
  font-size: 15px;
  padding: 5px;
}

.page-wrapper--pics .es-post-header {
  padding-bottom: 0;
}
.page-wrapper--pics .es-post-meta {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.page-wrapper--pics .es-post-meta ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.page-wrapper--pics .es-post-meta ul:first-child {
  margin-left: 15px;
}
.page-wrapper--pics .es-post-meta li {
  font-size: 14px;
  color: rgb(47, 47, 47);
  display: flex;
  align-items: center;
}
.page-wrapper--pics .es-post-meta li:not(:last-child) {
  margin-left: 8px;
}
.page-wrapper--pics .es-post-meta i {
  display: flex;
  font-size: 14px;
  margin-left: 4px;
}
.page-wrapper--pics .es-post-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #3351a6;
}
.page-wrapper--pics .es-post-content {
  font-size: 15px;
  line-height: 28px;
  text-align: justify;
  color: #404040;
  margin-bottom: 15px;
}
.page-wrapper--pics .es-post-gallery {
  border-radius: 15px;
  overflow: hidden;
  border: none;
}
.page-wrapper--pics .es-post-gallery .justified-gallery {
  background: #e9e9fd;
}
.page-wrapper--pics .es-post-gallery .justified-gallery > a {
  border-radius: 15px;
  overflow: hidden;
}
.page-wrapper--pics .administrator-description .post-title {
  font-size: 15px;
  font-weight: 700;
  color: #1e1e1e;
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}
.page-wrapper--pics .administrator-description .post-title {
  font-size: 14px;
  color: #404040;
}

.inpage--sidebar {
  background: none;
  padding: 0;
  display: flex;
  border-radius: 0;
}
.inpage--sidebar .inpage__right {
  width: calc(70% - 15px);
  margin-left: 15px;
  background: white;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
}
.inpage--sidebar .inpage__left {
  width: calc(30% - 15px);
  margin-right: 15px;
}
.inpage--sidebar .inpage__left .notifs__head__title {
  display: flex;
  align-items: center;
}
.inpage--sidebar .inpage__left .notifs {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  padding-bottom: 30px;
}
.inpage--sidebar .inpage__left .notifs__wrapper {
  height: 300px;
}
.inpage--sidebar .inpage__left .notif__link {
  font-size: 14px;
  line-height: 28px;
}
.inpage--sidebar .inpage__left .notif__link::before {
  display: inline-block;
  padding-top: 8px;
}

.justified-gallery > a > img,
.justified-gallery {
  border-radius: 10px;
}

.comment-form-area .post-title {
  text-align: center;
}

.comment-form-area .post-title h6 {
  text-align: center;
}

.comment-form-area .es-form-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comment-form-area fieldset,
.comment-form-area textarea,
.comment-form-area input {
  max-width: 400px;
  width: 400px;
}

.comment-form-area input,
.comment-form-area textarea {
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px !important;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.comment-form-area .submit-button {
  max-width: 150px;
  border-radius: 25px !important;
  background-color: #ee1935;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.comment-form-area .es-form-control[name=captcha] {
  max-width: 120px;
}

.comment-form-area textarea {
  resize: none;
  overflow: hidden;
}

.es-post-gallery {
  border-bottom: none;
}

.sidebar-page {
  display: flex;
}
@media (min-width: 992px) {
  .sidebar-page__content {
    width: calc(75% - 15px);
    margin-left: 15px;
  }
  .sidebar-page__sidebar {
    margin-right: 15px;
    width: calc(25% - 15px);
  }
  .sidebar-page__sidebar .scrollbar {
    height: 260px;
  }
  .sidebar-page__sidebar .news--text {
    margin-right: 25px;
    margin-left: 25px;
  }
  .sidebar-page__sidebar .news__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar-page__content {
    width: calc(70% - 15px);
    margin-left: 15px;
  }
  .sidebar-page__sidebar {
    margin-right: 15px;
    width: calc(30% - 15px);
  }
  .sidebar-page__sidebar .scrollbar {
    height: 260px;
  }
  .sidebar-page__sidebar .news--text {
    margin-right: 25px;
    margin-left: 25px;
  }
  .sidebar-page__sidebar .news__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (max-width: 767.98px) {
  .sidebar-page {
    flex-wrap: wrap;
  }
  .sidebar-page__content {
    width: 100%;
    margin-bottom: 20px;
  }
  .sidebar-page__sidebar {
    width: 100%;
  }
  .sidebar-page__sidebar .scrollbar {
    height: 260px;
  }
  .sidebar-page__sidebar .news--text {
    margin-right: 25px;
    margin-left: 25px;
  }
  .sidebar-page__sidebar .news__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.wrapper--inpage .captcha-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper--inpage .captcha-container input {
  margin-right: 15px;
  margin-left: 15px;
}
.wrapper--inpage .captcha-container img {
  width: 120px;
  height: 120xp;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  overflow: hidden;
}
.wrapper--inpage .inpage {
  min-height: 70vh;
}
.wrapper--inpage .footer__container {
  margin-top: 260px;
}
.wrapper--inpage .header__bottom-container {
  background: #6e757c;
}
.wrapper--inpage .header__bottom-container .sm-simple > li > a {
  color: white;
}
.wrapper--inpage .header__container .container {
  max-width: 1400px;
}
.wrapper--inpage .header__top {
  margin-bottom: 0;
}
.wrapper--inpage .header__top::before {
  content: unset;
}
.wrapper--inpage .header__container {
  position: relative;
  background: #383f48;
  padding-bottom: 0px;
}
.wrapper--inpage .header__flag {
  display: none;
}
.wrapper--inpage .header__menu {
  border-radius: 0;
  box-shadow: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  background: none;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none !important;
}
.wrapper--inpage .header__bottom {
  width: 100%;
}

@media (max-width: 767.98px) and (min-width: 576px) {
  .es-post-item .es-post-thumb {
    width: unset !important;
  }
}
@media (max-width: 575.98px) {
  .es-posts .es-post-thumb {
    margin-right: auto;
    margin-left: auto;
  }
}
.news-content__left {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  width: 50%;
}
.news-content img {
  margin-right: 0;
  margin-left: 0;
  max-height: unset;
  border: 5px solid #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.chp .plyr--audio .plyr__controls {
  padding: 10px 15px;
}

#es-content .pagination {
  margin-top: 20px;
  display: flex;
  margin-bottom: 0;
}
#es-content .pagination a {
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  font-size: 1em;
  background-color: rgb(248, 248, 248);
  border: 1px solid #d9d9d9;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-content .pagination a:hover {
  background-color: #ee1935;
  color: white;
  border-color: transparent;
}
#es-content .pagination li:not(:last-child) {
  margin-left: 8px;
}
#es-content .pagination .active a {
  background-color: #ee1935;
  color: white;
  border-color: transparent;
}

.meta-list {
  border-top: none !important;
  padding: 0 !important;
}

.review-area {
  margin: 0;
  border: none;
}

.meta-list {
  margin-top: 20px;
}

.es-similar-post {
  margin-bottom: 20px;
}

.es-post-gallery {
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.content-groups {
  display: flex;
  align-items: center;
}

.extra-meta ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.extra-meta li {
  margin-left: 0 !important;
  margin-bottom: 6px;
  margin-right: 0 !important;
}
#page-print-content .extra-meta ul {
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
#page-print-content .news-info {
  padding-top: 0;
  padding-bottom: 10px;
}
#page-print-content .es-post-title {
  font-size: 1em;
  color: #202020;
}
#page-print-content .es-post-summary {
  border: none;
  background: #e9e9fd;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 28px;
}
#page-print-content .es-post-thumb {
  float: left;
  margin-right: 15px;
  margin-left: 0px;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hiddend;
  width: 40%;
}

.iziModal-content {
  padding-top: 0;
  padding-bottom: 0;
}

#photo-face-tag .rect-arrow {
  display: none;
}

.simple-table {
  margin-top: 30px;
  display: block;
}
.simple-table th {
  font-weight: bold !important;
  color: white !important;
  background-color: #e31e24;
  min-height: 60px !important;
}
.simple-table th span {
  min-height: 60px !important;
  display: flex;
  align-items: center;
}
.simple-table table {
  border-collapse: collapse !important;
}
.simple-table .dataTables_empty::after {
  display: none !important;
}
.simple-table tr {
  border: none;
}
.simple-table tr:nth-child(even) {
  background-color: #f5f6f7;
}
.simple-table table.dataTable.no-footer {
  border-bottom: unset;
}
.simple-table table {
  border-collapse: collapse;
}
.simple-table table td {
  border: 1px solid #edf0f5 !important;
  border-bottom: 1px solid #edf0f5 !important;
}
.simple-table table td span,
.simple-table table td a {
  display: flex;
  align-items: center;
  min-height: 50px;
}
.simple-table .dataTables_filter,
.simple-table .dataTables_info {
  display: none;
}
.simple-table .dataTables_paginate {
  margin-left: auto;
  margin-right: auto;
  float: unset;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.simple-table__header {
  display: flex;
  align-items: center;
}
.simple-table__title {
  font-size: 20px;
  color: #063c8f;
  margin-left: 10px;
}
.simple-table__table {
  padding-top: 20px;
}
.simple-table table.dataTable > thead .sorting::before,
.simple-table table.dataTable > thead .sorting_asc::before,
.simple-table table.dataTable > thead .sorting_desc::before,
.simple-table table.dataTable > thead .sorting_asc_disabled::before,
.simple-table table.dataTable > thead .sorting_desc_disabled::before,
.simple-table table.dataTable > thead .sorting::after,
.simple-table table.dataTable > thead .sorting_asc::after,
.simple-table table.dataTable > thead .sorting_desc::after,
.simple-table table.dataTable > thead .sorting_asc_disabled::after,
.simple-table table.dataTable > thead .sorting_desc_disabled::after {
  display: none !important;
}
.simple-table #simple-table_length {
  display: none;
}
.simple-table th {
  text-align: center;
  font-size: 16px;
  color: #063c8f;
}
.simple-table .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: unset !important;
  background: unset !important;
  outline: unset !important;
}
.simple-table td {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px !important;
  padding-left: 20px !important;
  position: unset !important;
}
.simple-table table.dataTable thead th,
.simple-table table.dataTable thead td {
  padding-top: 0;
  padding-bottom: 0;
}
.simple-table thead {
  border: none;
}
.simple-table thead td {
  text-align: center;
  font-size: 16px;
  color: #063c8f;
}
.simple-table thead td:nth-child(2),
.simple-table thead td:nth-child(3) {
  text-align: right;
}
.simple-table tr {
  position: relative;
}
.simple-table tbody {
  border: none;
  counter-reset: row;
}
.simple-table tbody tr {
  counter-increment: row;
}
.simple-table tbody td {
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #666666;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.simple-table tbody td:first-child::after {
  content: counter(row);
  color: #666666;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple-table tbody td:nth-child(4) {
  text-align: center;
}
.simple-table tbody td a {
  margin: auto;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple-table tbody td img {
  margin: auto;
}
.simple-table .dataTables_paginate > span {
  display: flex;
  align-items: center;
}
.simple-table .child::after {
  display: none !important;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: unset !important;
  background-color: #f0f3f7 !important;
  border: unset !important;
  font-size: 22px;
  color: #063c8f !important;
  margin-left: 4.5px !important;
  margin-right: 4.5px !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-top: 3px;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button a,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current a,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover a {
  color: #1e1e1e;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover:hover {
  background-color: #ee1935 !important;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button:hover a,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover a,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover:hover a {
  color: white !important;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.active,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current.active,
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover.active {
  background: #2ccdea !important;
  color: white !important;
}
.simple-table .page-item.active .page-link {
  color: white !important;
}
.simple-table .page-link {
  outline: none !important;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #ee1935 !important;
  color: white !important;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.first {
  background-color: unset !important;
  transform: scale(-1);
  color: #bfbfbf;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.first:hover {
  color: black;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.first i {
  color: #bfbfbf;
  font-size: 30px;
  transition: all 0.3s ease;
  margin-right: -24px;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.last {
  background-color: unset !important;
  color: #bfbfbf;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.last:hover {
  color: black;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.last i {
  color: #bfbfbf;
  font-size: 30px;
  transition: all 0.3s ease;
  margin-right: -24px;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  background-color: unset !important;
  transform: scale(-1);
  color: #bfbfbf;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
  color: black;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous i {
  color: #bfbfbf;
  font-size: 30px;
  transition: all 0.3s ease;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  background-color: unset !important;
  color: #bfbfbf;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
  color: black;
}
.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.next i {
  color: #bfbfbf;
  font-size: 30px;
  transition: all 0.3s ease;
}
.simple-table .tabel-list {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}
.simple-table .tabel-list .label {
  color: #063c8f;
}
.simple-table .tabel-list .data {
  padding-right: 15px;
  display: flex;
  justify-content: center;
}
.simple-table .tabel-list > div {
  flex-basis: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fafafa;
}
.simple-table--company-list {
  margin-top: 0;
}
.simple-table--company-list .simple-table__search {
  margin-bottom: 22px;
}
.simple-table--company-list .simple-table__table {
  padding-top: 0;
}
.simple-table--company-list thead td {
  text-align: right;
}
.simple-table--company-list tbody td {
  text-align: right;
}
.simple-table--company-list tbody td:nth-child(4), .simple-table--company-list tbody td:nth-child(5), .simple-table--company-list tbody td:nth-child(6), .simple-table--company-list tbody td:nth-child(7) {
  text-align: right;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child::before {
  display: none;
}

.simple-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  transform: unset !important;
}

#loadDataTable_previous, #loadDataTable_next {
  font-size: 15px;
  font-weight: bold;
}

.design-detail__header {
  font-size: 1.2em;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  border-right: 5px solid #f69821;
}
.design-detail__content {
  font-size: 1em;
  line-height: 30px;
  text-align: justify;
}
.design-detail__detail {
  background-color: #f6fbff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-radius: 10px;
}
.design-detail__detail .item {
  flex-basis: calc(50% - 15px);
  display: flex;
  align-items: center;
}
.design-detail__detail .item:nth-child(odd) {
  margin-left: 15px;
}
.design-detail__detail .item:nth-child(even) {
  margin-right: 15px;
}
.design-detail__detail .item:nth-child(n+3) {
  margin-top: 15px;
}
.design-detail__detail .label {
  font-weight: bold;
  font-size: 1em;
  color: #003f88;
  display: inline-block;
  margin-left: 5px;
}
.design-detail__keywords {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.design-detail__keywords .head {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.design-detail__keywords ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.design-detail__keywords li {
  margin-left: 15px;
}
.design-detail__keywords a {
  border-radius: 5px;
  min-width: -moz-max-content;
  min-width: max-content;
  color: rgb(75, 75, 75);
  font-size: 0.89em;
  background-color: #f1f1f1;
  padding: 0 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design-detail__keywords a:hover {
  background-color: #fdc500;
}
.design-detail__section {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}
.design-detail__section .head {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.design-detail__section table {
  width: 100%;
}
.design-detail__section thead {
  background-color: #f6fbff;
  font-weight: bold;
  border-bottom: 2px solid #d6eafa;
}
.design-detail__section tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.design-detail__section td span {
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
}
.design-detail .archive-link__item {
  border-top: none !important;
  display: flex;
  align-items: center;
}
.design-detail .archive-link__item:hover {
  padding-right: 0;
}
.design-detail .archive-link .label {
  font-weight: bold;
  margin-left: 5px;
}
.design-detail__condition {
  margin-bottom: 50px;
}
.design-detail__condition .head {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.design-detail__condition .item {
  color: #1e1e1e;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  border-right: 5px solid #003f88;
  display: flex;
  align-items: center;
}
.design-detail__condition .item:not(:last-child) {
  margin-bottom: 20px;
}
.design-detail__condition .title {
  width: calc(50% - 10px);
  margin-left: 10px;
}
.design-detail__condition .title h4 {
  font-size: 1em;
  font-weight: bold;
}
.design-detail__condition .title span {
  font-size: 0.8em;
}
.design-detail__condition .era {
  width: 20%;
  font-size: 0.9em;
}
.design-detail__condition .date {
  width: 10%;
  color: #1e1e1e;
  font-size: 0.9em;
}
.design-detail__condition .file {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 0.9em;
  margin-right: auto;
  margin-left: 30px;
  background-color: #f69821;
  color: black !important;
}
.design-detail__condition .file:hover {
  opacity: 0.8;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=inpage.css.map */