$color-1: #2ccdea;
$color-2: #063c8f;
$color-3: #fff3ed;
$color-4: #feaf89;
/* Layout */
nav {
  direction: rtl;
  height: 100%;
  margin-left: 20px;
}
nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  display: flex;
}
nav a {
  text-decoration: none;
}
/* Basic Style */
nav > ul > li {
  height: 100%;
  position: relative;
}
nav > ul > li > a {
  line-height: 50px;
  padding: 0 20px;
  color: $color-2;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  height: 100%;
  font-size: 18px;
  height: 126px;
}

nav > ul > li.contact-drop > a:after,
nav > ul > li.mega-drop > a:after,
nav > ul > li.blog-post > a:after,
nav > ul > li.drop-down > a:after {
  position: absolute;
  top: 0;
  right: 5px;
}
/* Mega Drop Menu */
nav > ul > li.mega-drop {
  position: static;
}
nav > ul > li.mega-drop .mega-drop-inner {
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  width: 100%;
  overflow: auto;
  top: 100px;
  left: 0px;
  background: #ffffff;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding-top: 35px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 35px;
  z-index: 15;
  display: flex;
}
nav > ul > li.mega-drop .mega-drop-inner > ul {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: auto;
  &:last-child {
    margin-left: 0;
  }
}

nav > ul > li.mega-drop .mega-drop-inner ul h3 {
  color: $color-2;
  font-size: 18px;
  font-weight: 450;
  padding: 0;
  margin-bottom: 15px;
}
nav > ul > li.mega-drop:hover .mega-drop-inner {
  opacity: 1;
  left: 0;
  width: 1570px;
  visibility: visible;
}
/* Blog Post */
nav > ul > li.blog-post {
  position: static;
}
nav > ul > li.blog-post:hover .nav-item {
  opacity: 1;
  top: 100%;
  left: 0;
  visibility: visible;
}
nav > ul > li.blog-post .nav-item {
  position: absolute;
  width: 100%;
  overflow: auto;
  padding: 40px 0;
  top: -9999px;
  opacity: 0;
  left: -9999px;
  background: #daeaef;
  visibility: hidden;
  border-top: 3px solid #ff3d2e;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
nav > ul > li.blog-post .nav-item .item {
  float: left;
  width: -webkit-calc(25% - 40px);
  width: calc(25% - 40px);
  background: #272f32;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
nav > ul > li.blog-post .nav-item .item img {
  width: 100%;
  height: 150px;
}
nav > ul > li.blog-post .nav-item .item h3 {
  font-size: 15px;
}
nav > ul > li.blog-post .nav-item .item a {
  color: #ff3d2e;
}
/* Simple and multi level dropdown */
nav > ul > li.drop-down > ul {
  position: absolute;
  top: -9999px;
  visibility: hidden;
  opacity: 0;
  left: -99999px;
  width: 340px;
  background: #ecf0f1;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}


nav > ul > li.drop-down > ul:after {
  border-color: rgba(236, 240, 241, 0);
  border-bottom-color: #ecf0f1;
  border-width: 5px;
  margin-left: -5px;
}
nav > ul > li.drop-down > ul:before {
  border-color: rgba(231, 76, 60, 0);
  border-width: 9px;
  margin-left: -9px;
}
nav > ul > li.drop-down:hover > ul {
  opacity: 1;
  top: 104%;
  right: -70px;
  visibility: visible;
}
nav > ul > li.drop-down > ul a {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #ddd;
  color: #2c3e50;
  font: 400 15px "oswald", "fontawesome", sans-serif;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
nav > ul > li.drop-down > ul > li.sub-drop:after {
  content: "\f101";
  position: Absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  display: block;
}
nav > ul > li.drop-down > ul > li.sub-drop {
  position: relative;
}
nav > ul > li.drop-down > ul > li.sub-drop > ul {
  left: 90%;
  width: 150px;
  opacity: 0;
  background: #ecf0f1;
  top: -99999px;
  visibility: hidden;
  border-left: 3px solid #e74c3c;
  position: Absolute;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
nav > ul > li.drop-down > ul > li.sub-drop:hover > ul {
  opacity: 1;
  left: 100%;
  top: 0;
  visibility: visible;
}
.arrow_box:after,
nav > ul > li.drop-down > ul > li.sub-drop > ul:before {
  right: 100%;
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

nav > ul > li.drop-down > ul > li.sub-drop > ul:after {
  border-color: rgba(236, 240, 241, 0);
  border-right-color: #ecf0f1;
  border-width: 5px;
  margin-top: -5px;
}
nav > ul > li.drop-down > ul > li.sub-drop > ul:before {
  border-color: rgba(231, 76, 60, 0);
  border-right-color: #e74c3c;
  border-width: 9px;
  margin-top: -9px;
}
/* Contact container */
nav > ul > li.contact-drop {
  position: static;
}
nav > ul > li.contact-drop .contact-drop-inner {
  position: Absolute;
  left: -9999px;
  top: -9999px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-top: 3px solid #ff3d2e;
  overflow: auto;
  background: #ecf0f1;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
nav > ul > li.contact-drop:hover .contact-drop-inner {
  opacity: 1;
  left: 0;
  top: 100%;
  visibility: visible;
}
nav > ul > li.contact-drop .contact-drop-inner form {
  float: left;
  width: 46%;
  padding: 20px 0;
  margin: 0 2%;
}
nav > ul > li.contact-drop .contact-drop-inner form span {
  display: block;
  font: 400 14px "oswald", "fontawesome", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav > ul > li.contact-drop .contact-drop-inner form input,
nav > ul > li.contact-drop .contact-drop-inner form textarea {
  display: block;
  width: 50%;
  padding: 10px;
  background: #2c3e50;
  border: none;
  outline: none;
  color: #e74c3c;
  font-family: "oswald", sans-serif;
  margin-bottom: 10px;
}
nav > ul > li.contact-drop .contact-drop-inner .misc-contact {
  float: right;
  width: 50%;
  padding: 20px 0;
}
nav > ul > li.contact-drop .contact-drop-inner .misc-contact span,
nav > ul > li.contact-drop .contact-drop-inner .misc-contact a {
  color: #e74c3c;
}
nav > ul > li.mega-drop .mega-drop-inner {
  top: 130px !important;
}
nav > ul > li{
  transition: all 0.4s ease-in-out;
  border-bottom: 5px solid transparent;

}
nav > ul > li:hover {
  border-bottom: 5px solid $color-4;

  >a {
    -webkit-text-stroke-width: 0.3px;
  }
  > a > i {
    transform: rotate(180deg);
    color: $color-2;
  }
  background-color: rgba($color: #fff, $alpha: 0.2);
}
nav > ul > li > a {
  display: flex;
  align-items: center;

  i {
    font-size: 25px;
    padding-right: 2px;
    color: $color-3;
    transition: all 0.6s ease-in-out;
  }
}
