#menu-4 {
    .sec {
        padding-right: 15px;
        padding-left: 15px;

        .text-custom-info {
            color: #fff;
        }

        .text-customize {
            display: flex;
            flex-direction: column;

            button {
                background-color: #fff;
                border: unset;
                border: 1px solid #d9d9d9;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                &:first-child {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }

                &:last-child {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}