i.niafam , span.niafam{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-calendar2:before {
  content: "\e978";
}
.niafam-coaching:before {
  content: "\e979";
}
.niafam-cpu1:before {
  content: "\e97a";
}
.niafam-discussion:before {
  content: "\e97b";
}
.niafam-dots:before {
  content: "\e97c";
}
.niafam-earth:before {
  content: "\e97d";
}
.niafam-envelope2:before {
  content: "\e97e";
}
.niafam-envelope-22:before {
  content: "\e97f";
}
.niafam-factory:before {
  content: "\e980";
}
.niafam-fax2:before {
  content: "\e981";
}
.niafam-gears:before {
  content: "\e982";
}
.niafam-group:before {
  content: "\e983";
}
.niafam-home1:before {
  content: "\e984";
}
.niafam-idro-logo-strock:before {
  content: "\e985";
}
.niafam-lightbulb:before {
  content: "\e986";
}
.niafam-line-chart:before {
  content: "\e987";
}
.niafam-manager:before {
  content: "\e988";
}
.niafam-newspaper-1:before {
  content: "\e989";
}
.niafam-oil-platform:before {
  content: "\e98a";
}
.niafam-phone-2:before {
  content: "\e98b";
}
.niafam-phone-call2:before {
  content: "\e98c";
}
.niafam-photo-camera1:before {
  content: "\e98d";
}
.niafam-placeholder:before {
  content: "\e98e";
}
.niafam-play1:before {
  content: "\e98f";
}
.niafam-play-button-2:before {
  content: "\e990";
}
.niafam-sitemap1:before {
  content: "\e991";
}
.niafam-target:before {
  content: "\e992";
}
.niafam-third-party:before {
  content: "\e993";
}
.niafam-accessibility2:before {
  content: "\e994";
}
.niafam-at:before {
  content: "\e995";
}
.niafam-Soroush-Logo-LimooGraphic:before {
  content: "\e996";
}
.niafam-feed:before {
  content: "\e997";
}
.niafam-rss:before {
  content: "\e997";
}
.niafam-social:before {
  content: "\e997";
}
.niafam-instagram-2:before {
  content: "\e974";
}
.niafam-XMLID_801:before {
  content: "\e975";
}
.niafam-youtube-logotype:before {
  content: "\e976";
}
.niafam-right-arrow-3:before {
  content: "\e977";
}
.niafam-microphone:before {
  content: "\e972";
}
.niafam-video:before {
  content: "\e973";
}
.niafam-calendar1:before {
  content: "\e971";
}
.niafam-home:before {
  content: "\e900";
}
.niafam-Icon-awesome-long-arrow-alt-left:before {
  content: "\e901";
}
.niafam-aparat:before {
  content: "\e902";
}
.niafam-calendar-2:before {
  content: "\e903";
}
.niafam-mail:before {
  content: "\e904";
}
.niafam-maps-and-flags:before {
  content: "\e905";
}
.niafam-phone-call1:before {
  content: "\e906";
}
.niafam-envelope-2:before {
  content: "\e907";
}
.niafam-search:before {
  content: "\e908";
}
.niafam-fax:before {
  content: "\e909";
}
.niafam-pinterest:before {
  content: "\e90a";
}
.niafam-instagram:before {
  content: "\e90b";
}
.niafam-youtube:before {
  content: "\e90c";
}
.niafam-pin1:before {
  content: "\e90d";
}
.niafam-facebook:before {
  content: "\e90e";
}
.niafam-like:before {
  content: "\e90f";
}
.niafam-login:before {
  content: "\e910";
}
.niafam-mic:before {
  content: "\e911";
}
.niafam-minus:before {
  content: "\e912";
}
.niafam-globe:before {
  content: "\e913";
}
.niafam-telephone:before {
  content: "\e914";
}
.niafam-arrow-right:before {
  content: "\e915";
}
.niafam-call:before {
  content: "\e916";
}
.niafam-pin:before {
  content: "\e917";
}
.niafam-email:before {
  content: "\e918";
}
.niafam-envelope:before {
  content: "\e919";
}
.niafam-user1:before {
  content: "\e91a";
}
.niafam-play-button:before {
  content: "\e91b";
}
.niafam-phone-call11:before {
  content: "\e91c";
}
.niafam-phone-call:before {
  content: "\e91d";
}
.niafam-user:before {
  content: "\e91e";
}
.niafam-Schedue:before {
  content: "\e91f";
}
.niafam-share:before {
  content: "\e920";
}
.niafam-twitter1:before {
  content: "\e921";
}
.niafam-speech-bubble:before {
  content: "\e922";
}
.niafam-facebook1:before {
  content: "\e923";
}
.niafam-pinterest1:before {
  content: "\e924";
}
.niafam-linkedin1:before {
  content: "\e925";
}
.niafam-search1:before {
  content: "\e926";
}
.niafam-arrow-left1:before {
  content: "\e927";
}
.niafam-rainy:before {
  content: "\e928";
}
.niafam-video-camera:before {
  content: "\e929";
}
.niafam-open-book:before {
  content: "\e92a";
}
.niafam-glasses:before {
  content: "\e92b";
}
.niafam-volume:before {
  content: "\e92c";
}
.niafam-accessibility:before {
  content: "\e92d";
}
.niafam-speech-bubble-2:before {
  content: "\e92e";
}
.niafam-clock:before {
  content: "\e92f";
}
.niafam-vision:before {
  content: "\e930";
}
.niafam-view:before {
  content: "\e931";
}
.niafam-weather-sunny:before {
  content: "\e932";
}
.niafam-twitter:before {
  content: "\e933";
}
.niafam-linkedin:before {
  content: "\e934";
}
.niafam-arrow-left:before {
  content: "\e935";
}
.niafam-Icon-ionic-ios-arrow-back:before {
  content: "\e936";
}
.niafam-location:before {
  content: "\e937";
}
.niafam-multimedia1:before {
  content: "\e938";
}
.niafam-linkedin11:before {
  content: "\e939";
}
.niafam-visibility:before {
  content: "\e93a";
}
.niafam-pinterest11:before {
  content: "\e93b";
}
.niafam-paper-plane:before {
  content: "\e93c";
}
.niafam-instagram11:before {
  content: "\e93d";
}
.niafam-twitter11:before {
  content: "\e93e";
}
.niafam-play:before {
  content: "\e93f";
}
.niafam-youtube1:before {
  content: "\e940";
}
.niafam-image:before {
  content: "\e941";
}
.niafam-Repeat-Grid-2:before {
  content: "\e942";
}
.niafam-mic1:before {
  content: "\e943";
}
.niafam-facebook11:before {
  content: "\e944";
}
.niafam-help-circle:before {
  content: "\e945";
}
.niafam-image-gallery1:before {
  content: "\e946";
}
.niafam-globe1:before {
  content: "\e947";
}
.niafam-search11:before {
  content: "\e948";
}
.niafam-calendar:before {
  content: "\e949";
}
.niafam-email1:before {
  content: "\e94a";
}
.niafam-email2:before {
  content: "\e94b";
}
.niafam-fax1:before {
  content: "\e94c";
}
.niafam-keyboard_arrow_down:before {
  content: "\e94d";
}
.niafam-keyboard_arrow_left:before {
  content: "\e94e";
}
.niafam-call1:before {
  content: "\e94f";
}
.niafam-envelope-21:before {
  content: "\e950";
}
.niafam-instagram1:before {
  content: "\e951";
}
.niafam-left-arrow:before {
  content: "\e952";
}
.niafam-left-arrow-2:before {
  content: "\e953";
}
.niafam-menu:before {
  content: "\e954";
}
.niafam-minus1:before {
  content: "\e955";
}
.niafam-photo-camera:before {
  content: "\e956";
}
.niafam-pin2:before {
  content: "\e957";
}
.niafam-plan:before {
  content: "\e958";
}
.niafam-play-button1:before {
  content: "\e959";
}
.niafam-right-arrow:before {
  content: "\e95a";
}
.niafam-right-arrow-2:before {
  content: "\e95b";
}
.niafam-image-gallery:before {
  content: "\e95c";
}
.niafam-multimedia:before {
  content: "\e95d";
}
.niafam-minus2:before {
  content: "\e95e";
}
.niafam-plus:before {
  content: "\e95f";
}
.niafam-sand-clock:before {
  content: "\e960";
}
.niafam-sitemap:before {
  content: "\e961";
}
.niafam-team:before {
  content: "\e962";
}
.niafam-telegram:before {
  content: "\e963";
}
.niafam-tick:before {
  content: "\e964";
}
.niafam-up-arrow-2:before {
  content: "\e965";
}
.niafam-video-camera1:before {
  content: "\e966";
}
.niafam-accessibility1:before {
  content: "\e967";
}
.niafam-add:before {
  content: "\e968";
}
.niafam-checked:before {
  content: "\e969";
}
.niafam-circular-clock:before {
  content: "\e96a";
}
.niafam-conversation:before {
  content: "\e96b";
}
.niafam-cpu:before {
  content: "\e96c";
}
.niafam-uniE96D:before {
  content: "\e96d";
}
.niafam-uniE96E:before {
  content: "\e96e";
}
.niafam-envelope1:before {
  content: "\e96f";
}
.niafam-Icon-awesome-sitemap:before {
  content: "\e970";
}
