i.parliran,
span.parliran {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "parliran" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parliran-arrow:before {
  content: "\e942";
  color: #a19a91;
}
.parliran-7100e6ff1:before {
  content: "\e950";
  color: #fff;
}
.parliran-calendar-71:before {
  content: "\e951";
  color: #fff;
}
.parliran-calendar-dot1:before {
  content: "\e952";
  color: #fff;
}
.parliran-calendar-pen1:before {
  content: "\e953";
  color: #efeee8;
}
.parliran-Component-33--21:before {
  content: "\e954";
  color: #fff;
}
.parliran-Component-38--21:before {
  content: "\e955";
  color: #fff;
}
.parliran-folder-451:before {
  content: "\e956";
  color: #fff;
}
.parliran-folder-2341 .path1:before {
  content: "\e957";
  color: rgb(239, 238, 232);
}
.parliran-folder-2341 .path2:before {
  content: "\e958";
  margin-inline-end: -0.9599609375em;
  color: rgb(239, 238, 232);
}
.parliran-folder-2341 .path3:before {
  content: "\e959";
  margin-inline-end: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.parliran-folder-2341 .path4:before {
  content: "\e95c";
  margin-inline-end: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.parliran-folder-2341 .path5:before {
  content: "\e95f";
  margin-inline-end: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.parliran-Group-96021:before {
  content: "\e969";
  color: #fff;
}
.parliran-clipboard-text:before {
  content: "\e946";
  color: #fff;
}
.parliran-document-upload:before {
  content: "\e949";
  color: #fff;
}
.parliran-people:before {
  content: "\e94d";
  color: #fff;
}
.parliran-search-status:before {
  content: "\e94e";
  color: #fff;
}
.parliran-warning:before {
  content: "\e94f";
  color: #fff;
}
.parliran-calendar-2:before {
  content: "\e95a";
}
.parliran-mail:before {
  content: "\e95b";
}
.parliran-phone-call1:before {
  content: "\e95d";
}
.parliran-envelope-2:before {
  content: "\e95e";
}
.parliran-fax1:before {
  content: "\e960";
}
.parliran-pinterest:before {
  content: "\e961";
}
.parliran-instagram:before {
  content: "\e962";
}
.parliran-youtube:before {
  content: "\e963";
}
.parliran-pin1:before {
  content: "\e964";
}
.parliran-facebook:before {
  content: "\e965";
}
.parliran-like:before {
  content: "\e966";
}
.parliran-login:before {
  content: "\e967";
}
.parliran-mic:before {
  content: "\e968";
}
.parliran-user1:before {
  content: "\e971";
}
.parliran-play-button:before {
  content: "\e972";
}
.parliran-Schedue:before {
  content: "\e976";
}
.parliran-share:before {
  content: "\e977";
}
.parliran-twitter1:before {
  content: "\e978";
}
.parliran-speech-bubble:before {
  content: "\e979";
}
.parliran-clock:before {
  content: "\e986";
}
.parliran-view:before {
  content: "\e988";
}
.parliran-linkedin:before {
  content: "\e98b";
}
.parliran-image-gallery:before {
  content: "\e9b3";
}
.parliran-minus2:before {
  content: "\e9b5";
}
.parliran-plus:before {
  content: "\e9b6";
}
.parliran-Icon-awesome-sitemap:before {
  content: "\e9c6";
}
.parliran-gears:before {
  content: "\e9d8";
}
.parliran-accessibility2:before {
  content: "\e9ea";
}
.parliran-Soroush-Logo-LimooGraphic:before {
  content: "\e9ec";
}
.parliran-play-button2:before {
  content: "\ea0b";
}
.parliran-rubika:before {
  content: "\ea0e";
}
.parliran-search2:before {
  content: "\ea10";
}
.parliran-sitemap-21:before {
  content: "\ea12";
}
.parliran-video-camera2:before {
  content: "\ea19";
}
.parliran-whatsapp:before {
  content: "\ea1a";
}
.parliran-youtube2:before {
  content: "\ea1b";
}
.parliran-home-1:before {
  content: "\ea26";
}
.parliran-login1:before {
  content: "\ea29";
}
.parliran-plus1:before {
  content: "\ea2c";
}
.parliran-rss1:before {
  content: "\ea2e";
}
.parliran-video-camera3:before {
  content: "\ea31";
}
.parliran-accessibility:before {
  content: "\e901";
}
.parliran-add:before {
  content: "\e905";
}
.parliran-aparat:before {
  content: "\e908";
}
.parliran-bale:before {
  content: "\e909";
}
.parliran-bisphon:before {
  content: "\e90a";
}
.parliran-brain:before {
  content: "\e90b";
}
.parliran-calendar:before {
  content: "\e90c";
}
.parliran-calendar-02:before {
  content: "\e90d";
}
.parliran-close:before {
  content: "\e90e";
}
.parliran-dna:before {
  content: "\e90f";
}
.parliran-down-arrow .path1:before {
  content: "\e910";
  color: rgb(255, 193, 7);
}
.parliran-down-arrow .path2:before {
  content: "\e911";
  margin-inline-end: -1em;
  color: rgb(0, 0, 0);
}
.parliran-eita:before {
  content: "\e912";
}
.parliran-envelope:before {
  content: "\e913";
}
.parliran-envelope-02:before {
  content: "\e914";
}
.parliran-envelope-21:before {
  content: "\e915";
}
.parliran-facebook1:before {
  content: "\e916";
}
.parliran-fax:before {
  content: "\e917";
}
.parliran-fluctuation:before {
  content: "\e918";
}
.parliran-gap:before {
  content: "\e919";
}
.parliran-graduated-1:before {
  content: "\e91a";
}
.parliran-graduation-hat:before {
  content: "\e91b";
}
.parliran-instagram1:before {
  content: "\e91c";
}
.parliran-instagram-2:before {
  content: "\e91d";
}
.parliran-left-arrow:before {
  content: "\e91e";
}
.parliran-left-arrow-2:before {
  content: "\e91f";
}
.parliran-library:before {
  content: "\e920";
}
.parliran-linkedin1:before {
  content: "\e921";
}
.parliran-medal:before {
  content: "\e922";
}
.parliran-medical-team:before {
  content: "\e923";
}
.parliran-medical-team-2:before {
  content: "\e924";
}
.parliran-minus:before {
  content: "\e925";
}
.parliran-nurse:before {
  content: "\e926";
}
.parliran-phone-call:before {
  content: "\e927";
}
.parliran-photo-camera:before {
  content: "\e928";
}
.parliran-pin:before {
  content: "\e929";
}
.parliran-placeholder-2:before {
  content: "\e92a";
}
.parliran-play:before {
  content: "\e92b";
}
.parliran-play-button1:before {
  content: "\e92c";
}
.parliran-right-arrow:before {
  content: "\e92d";
}
.parliran-right-arrow-2:before {
  content: "\e92e";
}
.parliran-rubika1:before {
  content: "\e92f";
}
.parliran-search:before {
  content: "\e930";
}
.parliran-sitemap:before {
  content: "\e931";
}
.parliran-sitemap-2:before {
  content: "\e932";
}
.parliran-soroush:before {
  content: "\e933";
}
.parliran-stethoscope:before {
  content: "\e934";
}
.parliran-teacher-3:before {
  content: "\e935";
}
.parliran-telegram:before {
  content: "\e936";
}
.parliran-twitter:before {
  content: "\e937";
}
.parliran-universitatscampus:before {
  content: "\e938";
}
.parliran-up-arrow-2:before {
  content: "\e939";
}
.parliran-user-02:before {
  content: "\e93a";
}
.parliran-vaccine:before {
  content: "\e93b";
}
.parliran-video-camera:before {
  content: "\e93c";
}
.parliran-vitamins:before {
  content: "\e93d";
}
.parliran-whatsapp1:before {
  content: "\e93e";
}
.parliran-work-3:before {
  content: "\e93f";
}
.parliran-world-pride-day:before {
  content: "\e940";
}
.parliran-Group-56:before {
  content: "\e906";
  color: #8b8b8b;
}
.parliran-bell-fill-1:before {
  content: "\e941";
}
.parliran-Group-721:before {
  content: "\e900";
  color: #5b5b5b;
}
.parliran-share-fill-1:before {
  content: "\e902";
  color: #04729d;
}
.parliran-mic-fill-1:before {
  content: "\e903";
  color: #04729d;
}
.parliran-Vector:before {
  content: "\e904";
  color: #fff;
}
.parliran-time:before {
  content: "\e907";
}
