i.niafam , span.niafam{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-Path-565:before {
  content: "\e930";
}
.niafam-clock:before {
  content: "\e92e";
  color: #bbb;
}
.niafam-star:before {
  content: "\e92f";
  color: #f7b726;
}
.niafam-XMLID_801:before {
  content: "\e900";
}
.niafam-calendar:before {
  content: "\e901";
}
.niafam-calendar-2:before {
  content: "\e902";
  color: #bbb;
}
.niafam-down-arrow .path1:before {
  content: "\e903";
  color: rgb(255, 193, 7);
}
.niafam-down-arrow .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.niafam-envelope:before {
  content: "\e905";
}
.niafam-envelope-2:before {
  content: "\e906";
}
.niafam-facebook:before {
  content: "\e907";
}
.niafam-fax:before {
  content: "\e908";
}
.niafam-instagram:before {
  content: "\e909";
}
.niafam-instagram-fill:before {
  content: "\e90a";
}
.niafam-left-arrow:before {
  content: "\e90b";
}
.niafam-left-arrow-2:before {
  content: "\e90c";
}
.niafam-like:before {
  content: "\e90d";
}
.niafam-login:before {
  content: "\e90e";
}
.niafam-magazine:before {
  content: "\e90f";
}
.niafam-menu:before {
  content: "\e910";
}
.niafam-minus:before {
  content: "\e911";
}
.niafam-newspaper:before {
  content: "\e912";
}
.niafam-online-learning:before {
  content: "\e913";
}
.niafam-phone-call:before {
  content: "\e914";
}
.niafam-photo-camera:before {
  content: "\e915";
}
.niafam-pin:before {
  content: "\e916";
}
.niafam-play:before {
  content: "\e917";
}
.niafam-play-2:before {
  content: "\e918";
}
.niafam-play-button:before {
  content: "\e919";
}
.niafam-refresh:before {
  content: "\e91a";
}
.niafam-right-arrow:before {
  content: "\e91b";
}
.niafam-right-arrow-2:before {
  content: "\e91c";
}
.niafam-search:before {
  content: "\e91d";
}
.niafam-settings:before {
  content: "\e91e";
}
.niafam-share:before {
  content: "\e91f";
}
.niafam-sitemap:before {
  content: "\e920";
}
.niafam-speech-bubble:before {
  content: "\e921";
}
.niafam-speech-bubble-2:before {
  content: "\e922";
}
.niafam-twitter:before {
  content: "\e923";
}
.niafam-up-arrow-2:before {
  content: "\e924";
}
.niafam-user:before {
  content: "\e925";
  color: #bbb;
}
.niafam-video:before {
  content: "\e926";
}
.niafam-video-camera:before {
  content: "\e927";
}
.niafam-video-tutorials:before {
  content: "\e928";
}
.niafam-vision:before {
  content: "\e929";
}
.niafam-volume:before {
  content: "\e92a";
}
.niafam-youtube:before {
  content: "\e92b";
  color: #f61c0d;
}
.niafam-accessibility:before {
  content: "\e92c";
}
.niafam-add:before {
  content: "\e92d";
}
