@font-face {
    font-family: "niafam";
    src: url("../fonts/niafam.eot?ahg0bg");
    src: url("../fonts/niafam.eot?ahg0bg#iefix") format("embedded-opentype"),
      url("../fonts/niafam.ttf?ahg0bg") format("truetype"), url("../fonts/niafam.woff?ahg0bg") format("woff"),
      url("../fonts/niafam.svg?ahg0bg#niafam") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }