i.niafam, span.niafam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.niafam-Component-360--58 .path1:before {
  content: "\e903";
  color: rgb(230, 230, 230);
}
.niafam-Component-360--58 .path2:before {
  content: "\e907";
  margin-left: -1.2587890625em;
  color: rgb(0, 0, 0);
}
.niafam-Component-281--1:before {
  content: "\e900";
}
.niafam-round:before {
  content: "\e946";
  color: #92a2b2;
}
.niafam-Group-1691 .path1:before {
  content: "\e999";
  color: rgb(0, 0, 0);
}
.niafam-Group-1691 .path2:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.niafam-Group-1691 .path3:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.niafam-Group-1691 .path4:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.niafam-Union-7:before {
  content: "\e904";
}
.niafam-round-keyboard_arrow_right-24px:before {
  content: "\e905";
}
.niafam-Union-48:before {
  content: "\e906";
}
.niafam-Group-8467:before {
  content: "\e909";
}
.niafam-Component-190--2:before {
  content: "\e90a";
}
.niafam-Component-259--2:before {
  content: "\e90b";
}
.niafam-Component-109--2:before {
  content: "\e90d";
}
.niafam-Instagram:before {
  content: "\e90e";
}
.niafam-telegram-logo:before {
  content: "\e90f";
}
.niafam-Union-1:before {
  content: "\e910";
}
.niafam-Union-41:before {
  content: "\e911";
}
.niafam-111:before {
  content: "\e912";
}
.niafam-Subtraction-29:before {
  content: "\e913";
}
.niafam-Component-110--1:before {
  content: "\e914";
}
.niafam-Component-110--2:before {
  content: "\e915";
}
.niafam-Component-78--9---2:before {
  content: "\e916";
}
.niafam-Component-112--1:before {
  content: "\e917";
}
.niafam-Component-112--2:before {
  content: "\e918";
}
.niafam-uniE917:before {
  content: "\e919";
}
.niafam-Group-76271:before {
  content: "\e91a";
}
.niafam-uniE919:before {
  content: "\e91b";
}
.niafam-Component-149--3:before {
  content: "\e91c";
}
.niafam-Component-132--1:before {
  content: "\e91d";
}
.niafam-Component-133--1:before {
  content: "\e91e";
}
.niafam-uniE915:before {
  content: "\e91f";
}
.niafam-uniE916:before {
  content: "\e920";
}
.niafam-uniE9171:before {
  content: "\e921";
}
.niafam-Component-144--1:before {
  content: "\e922";
}
.niafam-Component-145--3:before {
  content: "\e923";
}
.niafam-Component-154--22:before {
  content: "\e924";
}
.niafam-Component-158--5:before {
  content: "\e925";
}
.niafam-Component-159--1:before {
  content: "\e926";
}
.niafam-Component-160--1:before {
  content: "\e927";
}
.niafam-Component-177--1:before {
  content: "\e928";
}
.niafam-Component-180--10:before {
  content: "\e929";
}
.niafam-Component-195--1:before {
  content: "\e92a";
}
.niafam-Component-206--1:before {
  content: "\e92b";
}
.niafam-Component-233--1:before {
  content: "\e92c";
}
.niafam-Component-235--1:before {
  content: "\e92d";
}
.niafam-Component-236--1:before {
  content: "\e92e";
}
.niafam-Component-237--1:before {
  content: "\e92f";
}
.niafam-Component-240--1:before {
  content: "\e930";
}
.niafam-Component-241--1:before {
  content: "\e931";
}
.niafam-Component-242--1:before {
  content: "\e932";
}
.niafam-Component-248--1:before {
  content: "\e933";
}
.niafam-Component-253--1:before {
  content: "\e934";
}
.niafam-Component-254--1:before {
  content: "\e935";
}
.niafam-Component-255--1:before {
  content: "\e936";
}
.niafam-Component-267--1:before {
  content: "\e937";
}
.niafam-Component-270--1:before {
  content: "\e938";
}
.niafam-Component-294--1:before {
  content: "\e939";
}
.niafam-Component-305--1:before {
  content: "\e93a";
}
.niafam-Component-307--1:before {
  content: "\e93b";
}
.niafam-Component-356--1:before {
  content: "\e93c";
}
.niafam-Component-358--1:before {
  content: "\e93d";
}
.niafam-Component-359--1:before {
  content: "\e93e";
}
.niafam-Component-361--1:before {
  content: "\e93f";
}
.niafam-uniE938:before {
  content: "\e941";
}
.niafam-uniE939:before {
  content: "\e942";
}
.niafam-uniE93A:before {
  content: "\e943";
}
.niafam-uniE943:before {
  content: "\e944";
}
.niafam-uniE944:before {
  content: "\e945";
}
.niafam-Group-7403:before {
  content: "\e948";
}
.niafam-Group-7404:before {
  content: "\e949";
}
.niafam-Group-7405:before {
  content: "\e94a";
}
.niafam-Group-7406:before {
  content: "\e94b";
}
.niafam-Group-7932:before {
  content: "\e94c";
}
.niafam-Component-21--1:before {
  content: "\e94d";
}
.niafam-Component-22--1:before {
  content: "\e94e";
}
.niafam-Component-25--1:before {
  content: "\e94f";
}
.niafam-Component-68--1:before {
  content: "\e950";
}
.niafam-Component-68--3:before {
  content: "\e951";
}
.niafam-Component-69--1:before {
  content: "\e952";
}
.niafam-hourglass1:before {
  content: "\e953";
}
.niafam-Component-69--3:before {
  content: "\e954";
}
.niafam-Component-71--1:before {
  content: "\e955";
}
.niafam-uniE94D:before {
  content: "\e956";
}
.niafam-uniE94E:before {
  content: "\e957";
}
.niafam-uniE94F:before {
  content: "\e958";
}
.niafam-Component-78--9---3:before {
  content: "\e959";
}
.niafam-Component-81--1:before {
  content: "\e95a";
}
.niafam-Component-83--1:before {
  content: "\e95b";
}
.niafam-Component-83--3:before {
  content: "\e95c";
}
.niafam-Component-84--1:before {
  content: "\e95d";
}
.niafam-Component-84--2:before {
  content: "\e95e";
}
.niafam-uniE958:before {
  content: "\e95f";
}
.niafam-uniE959:before {
  content: "\e960";
}
.niafam-Component-87--1:before {
  content: "\e961";
}
.niafam-Component-87--2:before {
  content: "\e962";
}
.niafam-Component-88--1:before {
  content: "\e963";
}
.niafam-Component-88--2:before {
  content: "\e964";
}
.niafam-Component-90--1:before {
  content: "\e965";
}
.niafam-Component-90--2:before {
  content: "\e966";
}
.niafam-Component-90--3---2:before {
  content: "\e967";
}
.niafam-Component-104--1:before {
  content: "\e968";
}
.niafam-Component-104--2:before {
  content: "\e969";
}
.niafam-Component-105--1:before {
  content: "\e96a";
}
.niafam-Component-105--2:before {
  content: "\e96b";
}
.niafam-Component-106--1:before {
  content: "\e96c";
}
.niafam-Component-106--2:before {
  content: "\e96d";
}
.niafam-Component-107--1:before {
  content: "\e96e";
}
.niafam-Component-107--2:before {
  content: "\e96f";
}
.niafam-Component-108--1:before {
  content: "\e970";
}
.niafam-Component-108--2:before {
  content: "\e971";
}
.niafam-Component-109--1:before {
  content: "\e972";
}
.niafam-Component-149--2:before {
  content: "\e973";
}
