i.niafam,
span.niafam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-ic_linkedin_32:before {
  content: "\e900";
  color: #317ff5;
}
.niafam-ic_phone_32:before {
  content: "\e901";
  color: #317ff5;
}
.niafam-ic_telegram_32:before {
  content: "\e902";
  color: #317ff5;
}
.niafam-ic_email_32:before {
  content: "\e903";
  color: #317ff5;
}
.niafam-ic_instagram_32:before {
  content: "\e904";
  color: #317ff5;
}
.niafam-ic_724:before {
  content: "\e905";
  color: #e83388;
}
.niafam-ic_724_mono:before {
  content: "\e906";
  color: #ceced1;
}
.niafam-ic_bahar .path1:before {
  content: "\e907";
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path2:before {
  content: "\e908";
  margin-left: -1.75em;
  color: rgb(255, 255, 255) !important;
}
.niafam-ic_bahar .path3:before {
  content: "\e909";
  margin-left: -1.75em;
  color: rgb(255, 255, 255) !important;
}
.niafam-ic_bahar .path4:before {
  content: "\e90a";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path5:before {
  content: "\e90b";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path6:before {
  content: "\e90c";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path7:before {
  content: "\e90d";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path8:before {
  content: "\e90e";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path9:before {
  content: "\e90f";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path10:before {
  content: "\e910";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path11:before {
  content: "\e911";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path12:before {
  content: "\e912";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path13:before {
  content: "\e913";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path14:before {
  content: "\e914";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path15:before {
  content: "\e915";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path16:before {
  content: "\e916";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path17:before {
  content: "\e917";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path18:before {
  content: "\e918";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path19:before {
  content: "\e919";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path20:before {
  content: "\e91a";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path21:before {
  content: "\e91b";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path22:before {
  content: "\e91c";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path23:before {
  content: "\e91d";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path24:before {
  content: "\e91e";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path25:before {
  content: "\e91f";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar .path26:before {
  content: "\e920";
  margin-left: -1.75em;
  color: rgb(37, 48, 112);
}
.niafam-ic_bahar_mono .path1:before {
  content: "\e921";
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path2:before {
  content: "\e922";
  margin-left: -1.75em;
  color: rgb(255, 255, 255);
}
.niafam-ic_bahar_mono .path3:before {
  content: "\e923";
  margin-left: -1.75em;
  color: rgb(255, 255, 255);
}
.niafam-ic_bahar_mono .path4:before {
  content: "\e924";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path5:before {
  content: "\e925";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path6:before {
  content: "\e926";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path7:before {
  content: "\e927";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path8:before {
  content: "\e928";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path9:before {
  content: "\e929";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path10:before {
  content: "\e92a";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path11:before {
  content: "\e92b";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path12:before {
  content: "\e92c";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path13:before {
  content: "\e92d";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path14:before {
  content: "\e92e";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path15:before {
  content: "\e92f";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path16:before {
  content: "\e930";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path17:before {
  content: "\e931";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path18:before {
  content: "\e932";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path19:before {
  content: "\e933";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path20:before {
  content: "\e934";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path21:before {
  content: "\e935";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path22:before {
  content: "\e936";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path23:before {
  content: "\e937";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path24:before {
  content: "\e938";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path25:before {
  content: "\e939";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_bahar_mono .path26:before {
  content: "\e93a";
  margin-left: -1.75em;
  color: rgb(206, 206, 209);
}
.niafam-ic_baman .path1:before {
  content: "\e93b";
  color: rgb(191, 24, 24);
}
.niafam-ic_baman .path2:before {
  content: "\e93c";
  margin-left: -1.75em;
  color: rgb(191, 24, 24);
}
.niafam-ic_baman .path3:before {
  content: "\e93d";
  margin-left: -1.75em;
  color: rgb(30, 41, 79);
}
.niafam-ic_baman .path4:before {
  content: "\e93e";
  margin-left: -1.75em;
  color: rgb(30, 41, 79);
}
.niafam-ic_baman .path5:before {
  content: "\e93f";
  margin-left: -1.75em;
  color: rgb(30, 41, 79);
}
.niafam-ic_baman_mono:before {
  content: "\e940";
  color: #ceced1;
}
.niafam-ic_bill_32 .path1:before {
  content: "\e941";
  color: rgb(17, 49, 123);
}
.niafam-ic_bill_32 .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(48, 131, 255);
}
.niafam-ic_bill_32 .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(48, 131, 255);
}
.niafam-ic_blu .path1:before {
  content: "\e944";
  color: rgb(0, 0, 0);
}
.niafam-ic_blu .path2:before {
  content: "\e945";
  margin-left: -1.75em;
  color: rgb(78, 145, 230);
}
.niafam-ic_blu .path3:before {
  content: "\e946";
  margin-left: -1.75em;
  color: rgb(78, 145, 230);
}
.niafam-ic_blu .path4:before {
  content: "\e947";
  margin-left: -1.75em;
  color: rgb(78, 145, 230);
}
.niafam-ic_blu_mono:before {
  content: "\e948";
  color: #ceced1;
}
.niafam-ic_car_fines_32 .path1:before {
  content: "\e949";
  color: rgb(48, 131, 255);
}
.niafam-ic_car_fines_32 .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(48, 131, 255);
}
.niafam-ic_car_fines_32 .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(48, 131, 255);
}
.niafam-ic_car_fines_32 .path4:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(17, 49, 123);
}
.niafam-ic_cards_32 .path1:before {
  content: "\e94d";
  color: rgb(17, 49, 123);
}
.niafam-ic_cards_32 .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(17, 49, 123);
}
.niafam-ic_cards_32 .path3:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(48, 131, 255);
}
.niafam-ic_internet_32 .path1:before {
  content: "\e950";
  color: rgb(48, 131, 255);
}
.niafam-ic_internet_32 .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(17, 49, 123);
}
.niafam-ic_topup_32 .path1:before {
  content: "\e952";
  color: rgb(48, 131, 255);
}
.niafam-ic_topup_32 .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(48, 131, 255);
}
.niafam-ic_topup_32 .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(17, 49, 123);
}
.niafam-ic_ussd:before {
  content: "\e955";
  color: #e83388;
}
.niafam-ic_ussd_mono:before {
  content: "\e956";
  color: #ceced1;
}
.niafam-home:before {
  content: "\e957";
}
.niafam-Icon-awesome-long-arrow-alt-left:before {
  content: "\e958";
}
.niafam-aparat:before {
  content: "\e959";
}
.niafam-calendar-2:before {
  content: "\e95a";
}
.niafam-mail:before {
  content: "\e95b";
}
.niafam-maps-and-flags:before {
  content: "\e95c";
}
.niafam-phone-call1:before {
  content: "\e95d";
}
.niafam-envelope-2:before {
  content: "\e95e";
}
.niafam-search:before {
  content: "\e95f";
}
.niafam-fax:before {
  content: "\e960";
}
.niafam-pinterest:before {
  content: "\e961";
}
.niafam-instagram:before {
  content: "\e962";
}
.niafam-youtube:before {
  content: "\e963";
}
.niafam-pin1:before {
  content: "\e964";
}
.niafam-facebook:before {
  content: "\e965";
}
.niafam-like:before {
  content: "\e966";
}
.niafam-login:before {
  content: "\e967";
}
.niafam-mic:before {
  content: "\e968";
}
.niafam-minus:before {
  content: "\e969";
}
.niafam-globe:before {
  content: "\e96a";
}
.niafam-telephone:before {
  content: "\e96b";
}
.niafam-arrow-right:before {
  content: "\e96c";
}
.niafam-call:before {
  content: "\e96d";
}
.niafam-pin:before {
  content: "\e96e";
}
.niafam-email:before {
  content: "\e96f";
}
.niafam-envelope:before {
  content: "\e970";
}
.niafam-user1:before {
  content: "\e971";
}
.niafam-play-button:before {
  content: "\e972";
}
.niafam-phone-call11:before {
  content: "\e973";
}
.niafam-phone-call:before {
  content: "\e974";
}
.niafam-user:before {
  content: "\e975";
}
.niafam-Schedue:before {
  content: "\e976";
}
.niafam-share:before {
  content: "\e977";
}
.niafam-twitter1:before {
  content: "\e978";
}
.niafam-speech-bubble:before {
  content: "\e979";
}
.niafam-facebook1:before {
  content: "\e97a";
}
.niafam-pinterest1:before {
  content: "\e97b";
}
.niafam-linkedin1:before {
  content: "\e97c";
}
.niafam-search1:before {
  content: "\e97d";
}
.niafam-arrow-left1:before {
  content: "\e97e";
}
.niafam-rainy:before {
  content: "\e97f";
}
.niafam-video-camera:before {
  content: "\e980";
}
.niafam-open-book:before {
  content: "\e981";
}
.niafam-glasses:before {
  content: "\e982";
}
.niafam-volume:before {
  content: "\e983";
}
.niafam-accessibility:before {
  content: "\e984";
}
.niafam-speech-bubble-2:before {
  content: "\e985";
}
.niafam-clock:before {
  content: "\e986";
}
.niafam-vision:before {
  content: "\e987";
}
.niafam-view:before {
  content: "\e988";
}
.niafam-weather-sunny:before {
  content: "\e989";
}
.niafam-twitter:before {
  content: "\e98a";
}
.niafam-linkedin:before {
  content: "\e98b";
}
.niafam-arrow-left:before {
  content: "\e98c";
}
.niafam-Icon-ionic-ios-arrow-back:before {
  content: "\e98d";
}
.niafam-location:before {
  content: "\e98e";
}
.niafam-multimedia1:before {
  content: "\e98f";
}
.niafam-linkedin11:before {
  content: "\e990";
}
.niafam-visibility:before {
  content: "\e991";
}
.niafam-pinterest11:before {
  content: "\e992";
}
.niafam-paper-plane:before {
  content: "\e993";
}
.niafam-instagram11:before {
  content: "\e994";
}
.niafam-twitter11:before {
  content: "\e995";
}
.niafam-play:before {
  content: "\e996";
}
.niafam-youtube1:before {
  content: "\e997";
}
.niafam-image:before {
  content: "\e998";
}
.niafam-Repeat-Grid-2:before {
  content: "\e999";
}
.niafam-mic1:before {
  content: "\e99a";
}
.niafam-facebook11:before {
  content: "\e99b";
}
.niafam-help-circle:before {
  content: "\e99c";
}
.niafam-image-gallery1:before {
  content: "\e99d";
}
.niafam-globe1:before {
  content: "\e99e";
}
.niafam-search11:before {
  content: "\e99f";
}
.niafam-calendar:before {
  content: "\e9a0";
}
.niafam-email1:before {
  content: "\e9a1";
}
.niafam-email2:before {
  content: "\e9a2";
}
.niafam-fax1:before {
  content: "\e9a3";
}
.niafam-keyboard_arrow_down:before {
  content: "\e9a4";
}
.niafam-keyboard_arrow_left:before {
  content: "\e9a5";
}
.niafam-call1:before {
  content: "\e9a6";
}
.niafam-envelope-21:before {
  content: "\e9a7";
}
.niafam-instagram1:before {
  content: "\e9a8";
}
.niafam-left-arrow:before {
  content: "\e9a9";
}
.niafam-left-arrow-2:before {
  content: "\e9aa";
}
.niafam-menu:before {
  content: "\e9ab";
}
.niafam-minus1:before {
  content: "\e9ac";
}
.niafam-photo-camera:before {
  content: "\e9ad";
}
.niafam-pin2:before {
  content: "\e9ae";
}
.niafam-plan:before {
  content: "\e9af";
}
.niafam-play-button1:before {
  content: "\e9b0";
}
.niafam-right-arrow:before {
  content: "\e9b1";
}
.niafam-right-arrow-2:before {
  content: "\e9b2";
}
.niafam-image-gallery:before {
  content: "\e9b3";
}
.niafam-multimedia:before {
  content: "\e9b4";
}
.niafam-minus2:before {
  content: "\e9b5";
}
.niafam-plus:before {
  content: "\e9b6";
}
.niafam-sand-clock:before {
  content: "\e9b7";
}
.niafam-team:before {
  content: "\e9b8";
}
.niafam-telegram:before {
  content: "\e9b9";
}
.niafam-tick:before {
  content: "\e9ba";
}
.niafam-up-arrow-2:before {
  content: "\e9bb";
}
.niafam-video-camera1:before {
  content: "\e9bc";
}
.niafam-accessibility1:before {
  content: "\e9bd";
}
.niafam-add:before {
  content: "\e9be";
}
.niafam-checked:before {
  content: "\e9bf";
}
.niafam-circular-clock:before {
  content: "\e9c0";
}
.niafam-conversation:before {
  content: "\e9c1";
}
.niafam-cpu:before {
  content: "\e9c2";
}
.niafam-uniE96D:before {
  content: "\e9c3";
}
.niafam-uniE96E:before {
  content: "\e9c4";
}
.niafam-envelope1:before {
  content: "\e9c5";
}
.niafam-Icon-awesome-sitemap:before {
  content: "\e9c6";
}
.niafam-calendar1:before {
  content: "\e9c7";
}
.niafam-microphone:before {
  content: "\e9c8";
}
.niafam-video:before {
  content: "\e9c9";
}
.niafam-instagram-2:before {
  content: "\e9ca";
}
.niafam-XMLID_801:before {
  content: "\e9cb";
}
.niafam-youtube-logotype:before {
  content: "\e9cc";
}
.niafam-right-arrow-3:before {
  content: "\e9cd";
}
.niafam-calendar2:before {
  content: "\e9ce";
}
.niafam-coaching:before {
  content: "\e9cf";
}
.niafam-cpu1:before {
  content: "\e9d0";
}
.niafam-discussion:before {
  content: "\e9d1";
}
.niafam-dots:before {
  content: "\e9d2";
}
.niafam-earth:before {
  content: "\e9d3";
}
.niafam-envelope2:before {
  content: "\e9d4";
}
.niafam-envelope-22:before {
  content: "\e9d5";
}
.niafam-factory:before {
  content: "\e9d6";
}
.niafam-fax2:before {
  content: "\e9d7";
}
.niafam-gears:before {
  content: "\e9d8";
}
.niafam-group:before {
  content: "\e9d9";
}
.niafam-home1:before {
  content: "\e9da";
}
.niafam-idro-logo-strock:before {
  content: "\e9db";
}
.niafam-lightbulb:before {
  content: "\e9dc";
}
.niafam-line-chart:before {
  content: "\e9dd";
}
.niafam-manager:before {
  content: "\e9de";
}
.niafam-newspaper-1:before {
  content: "\e9df";
}
.niafam-oil-platform:before {
  content: "\e9e0";
}
.niafam-phone-2:before {
  content: "\e9e1";
}
.niafam-phone-call2:before {
  content: "\e9e2";
}
.niafam-photo-camera1:before {
  content: "\e9e3";
}
.niafam-placeholder:before {
  content: "\e9e4";
}
.niafam-play1:before {
  content: "\e9e5";
}
.niafam-play-button-2:before {
  content: "\e9e6";
}
.niafam-sitemap1:before {
  content: "\e9e7";
}
.niafam-target:before {
  content: "\e9e8";
}
.niafam-third-party:before {
  content: "\e9e9";
}
.niafam-accessibility2:before {
  content: "\e9ea";
}
.niafam-at:before {
  content: "\e9eb";
}
.niafam-Soroush-Logo-LimooGraphic:before {
  content: "\e9ec";
}
.niafam-feed:before {
  content: "\e9ed";
}
.niafam-accessibility3:before {
  content: "\e9ee";
}
.niafam-add1:before {
  content: "\e9ef";
}
.niafam-analytics:before {
  content: "\e9f0";
}
.niafam-aparat1:before {
  content: "\e9f1";
}
.niafam-archive:before {
  content: "\e9f2";
}
.niafam-bale:before {
  content: "\e9f3";
}
.niafam-bisphon:before {
  content: "\e9f4";
}
.niafam-calendar3:before {
  content: "\e9f5";
}
.niafam-calendar-21:before {
  content: "\e9f6";
}
.niafam-uniE9F7:before {
  content: "\e9f7";
}
.niafam-uniE9F8:before {
  content: "\e9f8";
}
.niafam-eita:before {
  content: "\e9f9";
}
.niafam-envelope3:before {
  content: "\e9fa";
}
.niafam-envelope-23:before {
  content: "\e9fb";
}
.niafam-facebook2:before {
  content: "\e9fc";
}
.niafam-fax3:before {
  content: "\e9fd";
}
.niafam-formar:before {
  content: "\e9fe";
}
.niafam-gap:before {
  content: "\e9ff";
}
.niafam-instagram2:before {
  content: "\ea00";
}
.niafam-instagram-21:before {
  content: "\ea01";
}
.niafam-left-arrow1:before {
  content: "\ea02";
}
.niafam-left-arrow-21:before {
  content: "\ea03";
}
.niafam-linkedin2:before {
  content: "\ea04";
}
.niafam-minus3:before {
  content: "\ea05";
}
.niafam-newspaper-folded:before {
  content: "\ea06";
}
.niafam-phone-call3:before {
  content: "\ea07";
}
.niafam-photo-camera2:before {
  content: "\ea08";
}
.niafam-pin3:before {
  content: "\ea09";
}
.niafam-play2:before {
  content: "\ea0a";
}
.niafam-play-button2:before {
  content: "\ea0b";
}
.niafam-right-arrow1:before {
  content: "\ea0c";
}
.niafam-right-arrow-21:before {
  content: "\ea0d";
}
.niafam-rubika:before {
  content: "\ea0e";
}
.niafam-sala-de-reuniones:before {
  content: "\ea0f";
}
.niafam-search2:before {
  content: "\ea10";
}
.niafam-sitemap2:before {
  content: "\ea11";
}
.niafam-sitemap-2:before {
  content: "\ea12";
}
.niafam-soroush:before {
  content: "\ea13";
}
.niafam-startup:before {
  content: "\ea14";
}
.niafam-tarjeta-de-credito:before {
  content: "\ea15";
}
.niafam-telegram1:before {
  content: "\ea16";
}
.niafam-twitter2:before {
  content: "\ea17";
}
.niafam-up-arrow-21:before {
  content: "\ea18";
}
.niafam-video-camera2:before {
  content: "\ea19";
}
.niafam-whatsapp:before {
  content: "\ea1a";
}
.niafam-youtube2:before {
  content: "\ea1b";
}
.niafam-accessibility4:before {
  content: "\ea1c";
}
.niafam-aparat2:before {
  content: "\ea1d";
}
.niafam-auction:before {
  content: "\ea1e";
}
.niafam-bar-chart:before {
  content: "\ea1f";
}
.niafam-communication:before {
  content: "\ea20";
}
.niafam-covid-19:before {
  content: "\ea21";
}
.niafam-electricity-tower:before {
  content: "\ea22";
}
.niafam-electric-meter:before {
  content: "\ea23";
}
.niafam-energy-saving:before {
  content: "\ea24";
}
.niafam-flash:before {
  content: "\ea25";
}
.niafam-home-1:before {
  content: "\ea26";
}
.niafam-insurance:before {
  content: "\ea27";
}
.niafam-interview:before {
  content: "\ea28";
}
.niafam-login1:before {
  content: "\ea29";
}
.niafam-minus4:before {
  content: "\ea2a";
}
.niafam-notification:before {
  content: "\ea2b";
}
.niafam-plus1:before {
  content: "\ea2c";
}
.niafam-power-plant:before {
  content: "\ea2d";
}
.niafam-rss1:before {
  content: "\ea2e";
}
.niafam-rss-1:before {
  content: "\ea2f";
}
.niafam-up-arrow-22:before {
  content: "\ea30";
}
.niafam-video-camera3:before {
  content: "\ea31";
}
.niafam-windmill:before {
  content: "\ea32";
}
.niafam-worker:before {
  content: "\ea33";
}
.niafam-book:before {
  content: "\ea34";
}
.niafam-descriptor:before {
  content: "\ea35";
}
