@font-face {
  font-family: 'eita';
  src:  url('fonts/eita.eot?v1pjcn');
  src:  url('fonts/eita.eot?v1pjcn#iefix') format('embedded-opentype'),
    url('fonts/eita.ttf?v1pjcn') format('truetype'),
    url('fonts/eita.woff?v1pjcn') format('woff'),
    url('fonts/eita.svg?v1pjcn#eita') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eita' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eita-arrow-right:before {
  content: "\e922";
}
.eita-search:before {
  content: "\e921";
}
.eita-dcube:before {
  content: "\e919";
}
.eita-message:before {
  content: "\e91a";
}
.eita-Component-69--3:before {
  content: "\e91b";
}
.eita-Component-69--4:before {
  content: "\e91c";
}
.eita-Component-69--5:before {
  content: "\e91d";
}
.eita-Component-69--6:before {
  content: "\e91e";
}
.eita-my-profile:before {
  content: "\e91f";
}
.eita-exit:before {
  content: "\e920";
}
.eita-star:before {
  content: "\e918";
}
.eita-message-text:before {
  content: "\e917";
  color: #fff;
}
.eita-alarm:before {
  content: "\e900";
}
.eita-arrow-3:before {
  content: "\e901";
}
.eita-Component-11--1:before {
  content: "\e902";
}
.eita-Component-30--22:before {
  content: "\e903";
}
.eita-Component-74--1:before {
  content: "\e904";
  color: #6b7885;
}
.eita-Component-83--1:before {
  content: "\e905";
}
.eita-Component-90--1:before {
  content: "\e906";
  color: #6b7885;
}
.eita-Component-252--8:before {
  content: "\e907";
}
.eita-Component-253--1:before {
  content: "\e908";
}
.eita-Component-260--1:before {
  content: "\e909";
  color: #f6f6f6;
}
.eita-Component-328:before {
  content: "\e90a";
  color: #0a9b94;
}
.eita-Component-415--5:before {
  content: "\e90b";
  color: #0a9b94;
}
.eita-Component-539:before {
  content: "\e90c";
  color: #6b7885;
}
.eita-Component-540--3:before {
  content: "\e90d";
}
.eita-Component-554--1:before {
  content: "\e90e";
}
.eita-Component-557--1:before {
  content: "\e90f";
}
.eita-Component-559--1:before {
  content: "\e910";
}
.eita-danger:before {
  content: "\e911";
}
.eita-Group-65927:before {
  content: "\e912";
}
.eita-search-normal:before {
  content: "\e913";
}
.eita-sort:before {
  content: "\e914";
}
.eita-user-edit:before {
  content: "\e915";
}
.eita-vuesax-linear-message-search:before {
  content: "\e916";
}
