i.niafam,
span.niafam {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "niafam" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-Vector1:before {
  content: "\e900";
  color: #39395f;
}
.niafam-Vector2:before {
  content: "\e901";
}
.niafam-Vector:before {
  content: "\e902";
  color: #fff;
}
.niafam-Vector3:before {
  content: "\e903";
  color: #416a59;
}
.niafam-Vector-1:before {
  content: "\e904";
  color: #416a59;
}
.niafam-Vector-2:before {
  content: "\e905";
  color: #416a59;
}
.niafam-Vector-3:before {
  content: "\e906";
  color: #416a59;
}
.niafam-Vector-41:before {
  content: "\e907";
}
.niafam-Vector-5:before {
  content: "\e908";
  color: #416a59;
}
.niafam-Vector4:before {
  content: "\e909";
  color: #f5eec2;
}
.niafam-Vector-11:before {
  content: "\e90a";
  color: #f5eec2;
}
.niafam-Vector-21:before {
  content: "\e90b";
  color: #f5eec2;
}
.niafam-Vector-31:before {
  content: "\e90c";
  color: #f5eec2;
}
.niafam-Vector5:before {
  content: "\e90d";
}
.niafam-Vector-12:before {
  content: "\e90e";
  color: #416a59;
}
.niafam-Vector-22:before {
  content: "\e90f";
  color: #416a59;
}
.niafam-Vector-32:before {
  content: "\e910";
  color: #416a59;
}
.niafam-Vector-4:before {
  content: "\e911";
  color: #416a59;
}
.niafam-Group-721:before {
  content: "\e912";
}
.niafam-accessibility:before {
  content: "\e913";
}
.niafam-share-fill-1:before {
  content: "\e914";
}
.niafam-mic-fill-1:before {
  content: "\e915";
}
.niafam-Vector6:before {
  content: "\e916";
}
.niafam-add:before {
  content: "\e917";
}
.niafam-Group-56:before {
  content: "\e918";
}
.niafam-time:before {
  content: "\e919";
}
.niafam-aparat:before {
  content: "\e91a";
}
.niafam-bale:before {
  content: "\e91b";
}
.niafam-bisphon:before {
  content: "\e91c";
}
.niafam-brain:before {
  content: "\e91d";
}
.niafam-calendar:before {
  content: "\e91e";
}
.niafam-calendar-02:before {
  content: "\e91f";
}
.niafam-close:before {
  content: "\e920";
}
.niafam-dna:before {
  content: "\e921";
}
.niafam-uniE922:before {
  content: "\e922";
}
.niafam-uniE923:before {
  content: "\e923";
}
.niafam-eita:before {
  content: "\e924";
}
.niafam-envelope:before {
  content: "\e925";
}
.niafam-envelope-02:before {
  content: "\e926";
}
.niafam-envelope-21:before {
  content: "\e927";
}
.niafam-facebook1:before {
  content: "\e928";
}
.niafam-fax:before {
  content: "\e929";
}
.niafam-fluctuation:before {
  content: "\e92a";
}
.niafam-gap:before {
  content: "\e92b";
}
.niafam-graduated-1:before {
  content: "\e92c";
}
.niafam-graduation-hat:before {
  content: "\e92d";
}
.niafam-instagram1:before {
  content: "\e92e";
}
.niafam-instagram-2:before {
  content: "\e92f";
}
.niafam-left-arrow:before {
  content: "\e930";
}
.niafam-left-arrow-2:before {
  content: "\e931";
}
.niafam-library:before {
  content: "\e932";
}
.niafam-linkedin1:before {
  content: "\e933";
}
.niafam-medal:before {
  content: "\e934";
}
.niafam-medical-team:before {
  content: "\e935";
}
.niafam-medical-team-2:before {
  content: "\e936";
}
.niafam-minus:before {
  content: "\e937";
}
.niafam-nurse:before {
  content: "\e938";
}
.niafam-phone-call:before {
  content: "\e939";
}
.niafam-photo-camera:before {
  content: "\e93a";
}
.niafam-pin:before {
  content: "\e93b";
}
.niafam-placeholder-2:before {
  content: "\e93c";
}
.niafam-play:before {
  content: "\e93d";
}
.niafam-play-button1:before {
  content: "\e93e";
}
.niafam-right-arrow:before {
  content: "\e93f";
}
.niafam-right-arrow-2:before {
  content: "\e940";
}
.niafam-rubika1:before {
  content: "\e941";
}
.niafam-search:before {
  content: "\e942";
}
.niafam-sitemap:before {
  content: "\e943";
}
.niafam-sitemap-2:before {
  content: "\e944";
}
.niafam-soroush:before {
  content: "\e945";
}
.niafam-stethoscope:before {
  content: "\e946";
}
.niafam-teacher-3:before {
  content: "\e947";
}
.niafam-telegram:before {
  content: "\e948";
}
.niafam-twitter:before {
  content: "\e949";
}
.niafam-universitatscampus:before {
  content: "\e94a";
}
.niafam-up-arrow-2:before {
  content: "\e94b";
}
.niafam-user-02:before {
  content: "\e94c";
}
.niafam-vaccine:before {
  content: "\e94d";
}
.niafam-video-camera:before {
  content: "\e94e";
}
.niafam-vitamins:before {
  content: "\e94f";
}
.niafam-whatsapp1:before {
  content: "\e950";
}
.niafam-work-3:before {
  content: "\e951";
}
.niafam-world-pride-day:before {
  content: "\e952";
}
.niafam-bell-fill-1:before {
  content: "\e953";
}
.niafam-arrow:before {
  content: "\e954";
}
.niafam-clipboard-text:before {
  content: "\e955";
}
.niafam-document-upload:before {
  content: "\e956";
}
.niafam-people:before {
  content: "\e957";
}
.niafam-search-status:before {
  content: "\e958";
}
.niafam-warning:before {
  content: "\e959";
}
.niafam-7100e6ff1:before {
  content: "\e95a";
}
.niafam-calendar-71:before {
  content: "\e95b";
}
.niafam-calendar-dot1:before {
  content: "\e95c";
}
.niafam-calendar-pen1:before {
  content: "\e95d";
}
.niafam-Component-33--21:before {
  content: "\e95e";
}
.niafam-Component-38--21:before {
  content: "\e95f";
}
.niafam-folder-451:before {
  content: "\e960";
}
.niafam-uniE961:before {
  content: "\e961";
}
.niafam-uniE962:before {
  content: "\e962";
}
.niafam-uniE963:before {
  content: "\e963";
}
.niafam-calendar-2:before {
  content: "\e964";
}
.niafam-mail:before {
  content: "\e965";
}
.niafam-uniE966:before {
  content: "\e966";
}
.niafam-phone-call1:before {
  content: "\e967";
}
.niafam-envelope-2:before {
  content: "\e968";
}
.niafam-uniE969:before {
  content: "\e969";
}
.niafam-fax1:before {
  content: "\e96a";
}
.niafam-pinterest:before {
  content: "\e96b";
}
.niafam-instagram:before {
  content: "\e96c";
}
.niafam-youtube:before {
  content: "\e96d";
}
.niafam-pin1:before {
  content: "\e96e";
}
.niafam-facebook:before {
  content: "\e96f";
}
.niafam-like:before {
  content: "\e970";
}
.niafam-login:before {
  content: "\e971";
}
.niafam-mic:before {
  content: "\e972";
}
.niafam-Group-96021:before {
  content: "\e973";
}
.niafam-user1:before {
  content: "\e974";
}
.niafam-play-button:before {
  content: "\e975";
}
.niafam-Schedue:before {
  content: "\e976";
}
.niafam-share:before {
  content: "\e977";
}
.niafam-twitter1:before {
  content: "\e978";
}
.niafam-speech-bubble:before {
  content: "\e979";
}
.niafam-clock:before {
  content: "\e986";
}
.niafam-view:before {
  content: "\e988";
}
.niafam-linkedin:before {
  content: "\e98b";
}
.niafam-image-gallery:before {
  content: "\e9b3";
}
.niafam-minus2:before {
  content: "\e9b5";
}
.niafam-plus:before {
  content: "\e9b6";
}
.niafam-Icon-awesome-sitemap:before {
  content: "\e9c6";
}
.niafam-gears:before {
  content: "\e9d8";
}
.niafam-accessibility2:before {
  content: "\e9ea";
}
.niafam-Soroush-Logo-LimooGraphic:before {
  content: "\e9ec";
}
.niafam-play-button2:before {
  content: "\ea0b";
}
.niafam-rubika:before {
  content: "\ea0e";
}
.niafam-search2:before {
  content: "\ea10";
}
.niafam-sitemap-21:before {
  content: "\ea12";
}
.niafam-video-camera2:before {
  content: "\ea19";
}
.niafam-whatsapp:before {
  content: "\ea1a";
}
.niafam-youtube2:before {
  content: "\ea1b";
}
.niafam-home-1:before {
  content: "\ea26";
}
.niafam-login1:before {
  content: "\ea29";
}
.niafam-plus1:before {
  content: "\ea2c";
}
.niafam-rss1:before {
  content: "\ea2e";
}
.niafam-video-camera3:before {
  content: "\ea31";
}
